<template>
  <div class="q-pa-md">
    <q-layout view="lHh Lpr lff" class="shadow-2 rounded-borders">

      <!-- Header -->
      <q-header elevated class="bg-cyan-8">
        <q-toolbar>

          <q-toolbar-title>
            Neeraj's App
          </q-toolbar-title>
          <q-btn flat @click="drawer = !drawer" round dense icon="menu" />
          <router-link to="/register">
            <q-btn color="primary" label="Register" />
          </router-link>
          <router-link to="/login">
            <q-btn color="primary" label="Login" />
          </router-link>
          <router-link to="/homeCheck">
            <q-btn color="primary" label="Test" />
          </router-link>
        </q-toolbar>
      </q-header>
      <!-- Drawer-->
      <q-drawer v-model="drawer" show-if-above :width="200" :breakpoint="400">
        <q-scroll-area style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd">
          <q-list padding>

            <q-item clickable v-ripple to="/house">
              <q-item-section avatar>
                <q-icon name="home_filled" />
              </q-item-section>
              <q-item-section>
                House Management
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple to="/emeter">
              <q-item-section avatar>
                <q-icon name="electric_meter" />
              </q-item-section>
              <q-item-section>
                Electric Meter Management
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple to="/flat">
              <q-item-section avatar>
                <q-icon name="home_filled" />
              </q-item-section>
              <q-item-section>
                Flat Management
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple to="/ddValList">
              <q-item-section avatar>
                <q-icon name="home_filled" />
              </q-item-section>
              <q-item-section>
                Dropdown list values
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple to="/">
              <q-item-section avatar>
                <q-icon name="person" />
              </q-item-section>
              <q-item-section>
                Renter Management
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple to="/rentflat">
              <q-item-section avatar>
                <q-icon name="apartment" />
              </q-item-section>

              <q-item-section>
                Book Flat Management
              </q-item-section>
            </q-item>


            <q-item clickable v-ripple to="/invoice">
              <q-item-section avatar>
                <q-icon name="currency_rupee" />
              </q-item-section>

              <q-item-section>
                Invoice
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple to="/meterReading">
              <q-item-section avatar>
                <q-icon name="meter" />
              </q-item-section>

              <q-item-section>
                Meter Reading
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>

        <q-img class="absolute-top" src="https://cdn.quasar.dev/img/material.png" style="height: 150px">
          <div class="absolute-bottom bg-transparent">
            <q-avatar size="56px" class="q-mb-sm">
              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
            </q-avatar>
            <div class="text-weight-bold">User name</div>
            <div>@rstoenescu</div>
          </div>
        </q-img>
      </q-drawer>

      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'



export default defineComponent({
  name: 'MainLayout',



  setup() {
    const leftDrawerOpen = ref(false)

    return {
      drawer: ref(false),

      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
