<template>
  <div class="q-pa-md">


    <q-form ref="ddvalfrm" @submit="onSubmit" @reset="onReset" class="q-gutter-md">
      <q-select filled v-model="dropDownMaster" :options="dropDownMasters" option-label="displayName" label="Master Data"
        @update:model-value="onPopulateMasterValueList()" />

      <q-input filled v-model="dropDownMasterValue.name" label="Name *" hint="Name" lazy-rules
        :rules="[val => val && val.length > 0 || 'Please type something']" />
      <q-input filled v-model="dropDownMasterValue.displayName" label="Display Value *" hint="Display Value" lazy-rules
        :rules="[val => val && val.length > 0 || 'Please type something']" />

      <q-input filled v-model="dropDownMasterValue.description" label="Description" hint="Description" />

      <div class="">
        <q-btn label="Submit" type="submit" color="primary" />
        <q-btn label="Reset" type="reset" color="primary" class="q-ml-sm" />
      </div>
    </q-form>

  </div>
</template>

<script>
import { useQuasar } from 'quasar'
import { ref, inject, onMounted } from 'vue'
import { saveDropdownMaster, fetchAllDropdownMaster, fetchDropdownMaster } from '../../services/DropdownService.js'

export default {

  setup() {
    const bus = inject('bus')
    const $q = useQuasar()
    const dropDownMaster = ref();
    const dropDownMasterValue = ref({
      id: '',
      name: '',
      displayName: '',
      description: ''
    })
    const ddvalfrm = ref()

    const dropDownMasters = ref([]);

    function dropdownmasterSave() {
      // set the values 
      if (dropDownMaster.value.values == null) {
        console.log("setting empty array");
        dropDownMaster.value.values = [];
      }
      // add to the list
      dropDownMaster.value.values.push(dropDownMasterValue.value)

      console.log("before save", dropDownMaster.value);
      saveDropdownMaster(dropDownMaster.value).then(response => {
        dropDownMaster.value = response
        bus.emit('ddvalsave', dropDownMaster.value.name);
      }).catch(err => console.error(err))
      console.log("after save", dropDownMaster.value);
      clearform();
    }
    function clearform() {
      dropDownMasterValue.value.id = null
      dropDownMasterValue.value.name = null
      dropDownMasterValue.value.displayName = null
      dropDownMasterValue.value.description = null
      ddvalfrm.value.resetValidation()
    }
    onMounted(() => {
      console.log("On mounted");
      fetchAllDropdownMaster().then(response => {
        dropDownMasters.value = response;
      }).catch(err => console.error(err))
    })

    return {

      dropDownMasterValue, dropdownmasterSave, dropDownMasters, dropDownMaster, clearform, ddvalfrm,
      onPopulateMasterValueList() {

        bus.emit('ddval', dropDownMaster.value.name);

      },
      onSubmit() {
        dropdownmasterSave()

        $q.notify({

          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted',
        });

      },



      onReset() {

        clearform();
      }
    }
  }

}
</script>
