<template>
    <q-page class="flex flex-center">
        <div class="row">
            <div class="col-3"></div>

            <div class="col-6">
                <DropDownMasterValueAdd />

            </div>
            <div class="col-3"></div>
            <div class="col-12">

                <DropDownMasterValueList />
            </div>
        </div>
    </q-page>
</template>

<script>
import DropDownMasterValueList from './DropDownMasterValueList.vue';
import DropDownMasterValueAdd from './DropDownMasterValueAdd.vue';
export default {
    components: {
        DropDownMasterValueList,
        DropDownMasterValueAdd

    }
}
</script>