<template>
  <q-page class="q-pa-sm">

    <q-card class="row">
      <div class="col-2 q-pa-md">
        <q-list dense bordered padding class="rounded-borders">
          <q-item v-for="(item, index) in ddkeyOptions" :key="index" class="q-my-sm" @click="onlistClick(item)"
            :active="item == selectedItem" clickable v-ripple>
            <q-item-section>
              {{ item }}
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="col">
        <q-table title="DdValueList Management" :rows="data" :hide-header="mode === 'grid'" :columns="columns"
          row-key="id" :grid="mode == 'grid'" :filter="filter" :v-model:propName="pagination">
          <template v-slot:top-right="props">
            <q-btn
              @click="new_dd = true, ddvaluelist = {}, ddvaluelist.active = true, ddvaluelist.deleted = false, ddvaluelist.defaultVal = false"
              outline color="primary" label="Add New" class="q-mr-xs" />
            <q-toggle style="padding-right: 10px;" color="red" label="Show All" @click="reloadPage"
              v-model="includeDeleted" val="true" />
            <q-input outlined dense debounce="300" v-model="filter" placeholder="Search">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>

            <q-btn flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
              @click="props.toggleFullscreen" v-if="mode === 'list'">
              <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ props.inFullscreen ?
                'Exit Fullscreen' : 'Toggle Fullscreen' }}
              </q-tooltip>
            </q-btn>

            <q-btn flat round dense :icon="mode === 'grid' ? 'list' : 'grid_on'"
              @click="mode = mode === 'grid' ? 'list' : 'grid'; separator = mode === 'grid' ? 'none' : 'horizontal'"
              v-if="!props.inFullscreen">
              <q-tooltip :disable=" $q.platform.is.mobile " v-close-popup>{{ mode === 'grid' ? 'List' : 'Grid' }}
              </q-tooltip>
            </q-btn>

            <q-btn color="primary" icon-right="archive" label="Export to csv" no-caps @click=" exportTable " />
          </template>
          <template v-slot:body-cell-used=" props ">
            <q-td :props=" props ">
              <q-chip :color=" (props.row.used) ? 'green' : 'red' " text-color="white" dense class="text-weight-bolder"
                circle style="width: 20px; text-align: center;" :icon=" (props.row.used) ? 'check' : 'close' ">
              </q-chip>
            </q-td>
          </template>
          <template v-slot:body-cell-active=" props ">
            <q-td :props=" props ">
              <q-chip :color=" (props.row.active) ? 'green' : 'red' " text-color="white" dense class="text-weight-bolder"
                circle style="width: 20px; text-align: center;" :icon=" (props.row.active) ? 'check' : 'close' ">
              </q-chip>
            </q-td>
          </template>
          <template v-slot:body-cell-action=" props ">
            <q-td :props=" props ">
              <div class="q-gutter-sm">
                <q-btn dense color="primary" icon="search" @click=" onDetail(props.row.id) " />
                <q-btn dense color="primary" icon="edit" @click=" onEdit(props.row.id) "
                  v-bind:disable=" (props.row.deleted) " />
                <q-btn dense color="red" icon="delete" @click=" onDelete(props.row.id) "
                  v-bind:disable=" (props.row.deleted) " />
              </div>
            </q-td>
          </template>
        </q-table>
      </div>
    </q-card>
    <q-dialog v-model=" new_dd ">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Add new dropdown list
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Key</q-item-label>

                  <q-select outlined dense v-model=" ddvaluelist.ddKey " :options=" ddkeyOptions " use-input
                    new-value-mode="add-unique" label="Category" input-debounce="0" lazy-rules
                    :rules=" [val => val && val.length > 0 || 'Please select or type category'] "
                    @new-value=" createValue " />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Value</q-item-label>
                  <q-input dense outlined v-model=" ddvaluelist.ddValue " label="Value" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">display</q-item-label>
                  <q-input dense outlined v-model=" ddvaluelist.display " label="Display Value" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-checkbox v-model=" ddvaluelist.active " label="Active" color="green" />
                </q-item-section>
                <q-item-section>
                  <q-checkbox v-model=" ddvaluelist.defaultVal " label="Default Value" color="green" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click=" onSubmit " color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model=" edit_dd ">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Edit ddvaluelist
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Key</q-item-label>
                  <q-input dense outlined v-model=" ddvaluelist.ddKey " label="Dropdown Key *" lazy-rules
                    :rules=" [val => val && val.length > 0 || 'Please type something'] " />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Value</q-item-label>
                  <q-input dense outlined v-model=" ddvaluelist.ddValue " label="Value" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">display</q-item-label>
                  <q-input dense outlined v-model=" ddvaluelist.display " label="Display Value" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-checkbox v-model=" ddvaluelist.active " label="Active" color="green" />
                </q-item-section>
                <q-item-section>
                  <q-checkbox v-model=" ddvaluelist.defaultVal " label="Default Value" color="green" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click=" onSubmit " color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model=" dtl_dd ">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Detail ddvaluelist
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-list class="q-gutter-md">
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Category</q-item-label>
                <q-item-label class="q-pb-xs">{{ ddvaluelist.ddKey }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Dropdown Value</q-item-label>
                <q-item-label class="q-pb-xs">{{ ddvaluelist.ddValue }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Display</q-item-label>
                <q-item-label class="q-pb-xs">{{ ddvaluelist.display }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Default Value</q-item-label>
                <q-item-label class="q-pb-xs">{{ ddvaluelist.defaultVal }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>

        </q-card-section>
      </q-card>
    </q-dialog>



  </q-page>
</template>

<script>

import { exportFile } from "quasar";
import { defineComponent } from 'vue';
import { fetchAllValidDropdowns, fetchAllDropdownVals, saveDropdownVal, getDropdownById, fetchAllDropdownKeyVals, deleteDdById } from '../../services/DdService'



function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');

  return `"${formatted}"`;
}

export default defineComponent({

  mounted() {
    this.initPageData()
  },

  data() {
    return {
      filter: "",
      includeDeleted: false,
      ddvaluelist: {},
      edit_dd: false,
      new_dd: false,
      dtl_dd: false,
      mode: "list", ddkeyOptions: [], selectedItem: '',
      columns: [
        { name: "ddKey", align: "left", label: "Category", field: "ddKey", sortable: true },
        { name: "ddValue", align: "left", label: "Value", field: "ddValue", sortable: true },
        { name: "display", align: "left", label: "Display Value", field: "display", sortable: true },
        { name: "defaultVal", align: "left", label: "default", field: "defaultVal", sortable: true },
        { name: "active", align: "left", label: "Active", field: "active", sortable: true },
        { name: "action", align: "left", label: "Action", field: "action", sortable: true }
      ],
      data: [],
      pagination: {
        rowsPerPage: 10
      }
    };
  },
  methods: {
    onlistClick(item) {
      // console.log("On click list evnt: ", item);
      this.selectedItem = item;
      if (this.includeDeleted) {
        this.fetchAllDds(this.selectedItem)
      } else {
        this.fetchAllValidDds(this.selectedItem)
      }

    },
    // add new value to dropdown input field
    createValue(val, done) {
      done(val, 'add-unique')
      this.ddkeyOptions.push(val)
    },
    initPageData() {
      fetchAllDropdownKeyVals().then(
        response => {
          this.ddkeyOptions = response;
          this.selectedItem = this.ddkeyOptions[0];
          console.log(this.selectedItem);
          if (this.includeDeleted) {
            this.fetchAllDds(this.selectedItem)
          } else {
            this.fetchAllValidDds(this.selectedItem)
          }
        }
      ).catch(err => console.log(err))
    },
    reloadPage() {
      if (this.includeDeleted) {
        this.fetchAllDds(this.selectedItem)
      } else {
        this.fetchAllValidDds(this.selectedItem)
      }
    }
    ,
    fetchAllValidDds(selectedKey) {
      console.log("fetchAllValidDds ", selectedKey);
      fetchAllValidDropdowns(selectedKey).then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    fetchAllDds(selectedKey) {
      console.log("fetchAllDds ", selectedKey);
      fetchAllDropdownVals(selectedKey).then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    ddSave() {
      console.log("ddvaluelist save:", this.ddvaluelist)
      saveDropdownVal(this.ddvaluelist).then(response => {
        this.reloadPage()

      }).catch(err => console.error(err))
    },
    onSubmit() {
      console.log("On submit");
      this.ddSave()
      this.$q.notify({
        color: 'green-4',
        textColor: 'white',
        icon: 'cloud_done',
        message: 'Submitted',
      });

    },
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("ddvaluelist-management.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },
    onDetail(id) {
      console.log("on detail", id);
      this.dtl_dd = true
      getDropdownById(id).then(response => {
        console.log(response)
        this.ddvaluelist = response
      }).catch(err => console.error(err))
    },
    onEdit(id) {
      console.log("on edit", id);
      this.edit_dd = true;
      getDropdownById(id).then(response => {
        console.log(response)
        this.ddvaluelist = response
      }).catch(err => console.error(err))
    },
    onDelete(id) {
      console.log("on delete", id);
      deleteDdById(id).then(response => {
        console.log(response)
        this.$q.notify({
          message: response,
          color: "negative",
          icon: "warning"
        })
        this.reloadPage();


      }).catch(err => console.error(err))
    }
  }
});
</script>
