<template>
  <div class="q-pa-md">
    <q-table title="Drop Down Master values" :rows="rows" :columns="columns" row-key="id" />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { fetchDropdownMaster } from '../../services/DropdownService'

const columns = [
  { name: 'id', required: true, label: 'Id', align: 'left', field: 'id', sortable: true },
  { name: 'name', align: 'center', label: 'Name', field: 'name', sortable: true },
  { name: 'displayName', label: 'displayName', field: 'displayName', sortable: true },
  { name: 'description', label: 'Description', field: 'description' },

]

export default defineComponent({

  name: 'IndexPage',
  mounted() {
    this.$bus.on('ddval', (val) => {
      console.log("in emit bus val", val);
      this.dropdownMasterFetch(val);
    })
    this.$bus.on('ddvalsave', (valname) => {
      console.log("in emit bus ddvalsave", valname);
      this.dropdownMasterFetch(valname);
    })
  },

  data() {
    return {
      rows: []
    }
  },
  setup() {
    return {
      columns
    }
  },
  methods: {
    dropdownMasterFetch(val) {
      fetchDropdownMaster(val).then(response => {
        console.log(response)
        if (response.values != null) {
          this.rows = response.values
        }

      }).catch(err => console.error(err))
    }
  }
}
)
</script>
