<template>
  <q-page class="q-pa-sm">

    <q-card class="row">
      <div class="col-2 q-pa-md">

        <q-list dense bordered padding class="rounded-borders">
          <q-item class="q-my-sm">
            <q-item-section>Available Meters</q-item-section>
          </q-item>
          <q-item v-for="(item, index) in electricMeters" :key="index" class="q-my-sm" @click="onlistClick(item)"
            :active="item == selectedItem" clickable v-ripple>
            <q-item-section>
              {{ item.nickName }}
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="col">
        <q-table title="Meter Reading Management" :rows="data" :hide-header="mode === 'grid'" :columns="columns"
          row-key="id" :grid="mode == 'grid'" :filter="filter" :v-model:propName="pagination">
          <template v-slot:top-right="props">
            <q-btn @click="onNewMeterReading()" outline color="primary" label="Add New" class="q-mr-xs" />
            <q-toggle style="padding-right: 10px;" color="red" label="Show All" @click="reloadPage"
              v-model="includeDeleted" val="true" />
            <q-input outlined dense debounce="300" v-model="filter" placeholder="Search">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>

            <q-btn flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
              @click="props.toggleFullscreen" v-if="mode === 'list'">
              <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ props.inFullscreen ?
                'Exit Fullscreen' : 'Toggle Fullscreen' }}
              </q-tooltip>
            </q-btn>

            <q-btn flat round dense :icon="mode === 'grid' ? 'list' : 'grid_on'"
              @click="mode = mode === 'grid' ? 'list' : 'grid'; separator = mode === 'grid' ? 'none' : 'horizontal'"
              v-if="!props.inFullscreen">
              <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ mode === 'grid' ? 'List' : 'Grid' }}
              </q-tooltip>
            </q-btn>

            <q-btn color="primary" icon-right="archive" label="Export to csv" no-caps @click="exportTable" />
          </template>
          <template v-slot:body-cell-used="props">
            <q-td :props="props">
              <q-chip :color="(props.row.used) ? 'green' : 'red'" text-color="white" dense class="text-weight-bolder"
                circle style="width: 20px; text-align: center;" :icon="(props.row.used) ? 'check' : 'close'">
              </q-chip>
            </q-td>
          </template>
          <template v-slot:body-cell-active="props">
            <q-td :props="props">
              <q-chip :color="(props.row.active) ? 'green' : 'red'" text-color="white" dense class="text-weight-bolder"
                circle style="width: 20px; text-align: center;" :icon="(props.row.active) ? 'check' : 'close'">
              </q-chip>
            </q-td>
          </template>
          <template v-slot:body-cell-action="props">
            <q-td :props="props">
              <div class="q-gutter-sm">
                <q-btn dense color="primary" icon="search" @click="onDetail(props.row.id)" />
                <q-btn dense color="primary" icon="edit" @click="onEdit(props.row.id)"
                  v-bind:disable="(props.row.deleted)" />
                <q-btn dense color="red" icon="delete" @click="onDelete(props.row.id)"
                  v-bind:disable="(props.row.deleted)" />
              </div>
            </q-td>
          </template>
        </q-table>
      </div>
    </q-card>
    <q-dialog v-model="new_dd">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Add Meter Reading
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Meter id</q-item-label>
                  <q-input dense outlined v-model="meterReading.emId" label="Meter id *" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Meter Serial Number</q-item-label>
                  <q-input dense outlined v-model="meterReading.emSerialNumber" label="Meter id *" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Meter Name </q-item-label>
                  <q-input dense outlined v-model="meterReading.emNickName" label="Meter id *" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Meter reading</q-item-label>
                  <q-input filled type="number" v-model="meterReading.currentReading" label="Meter reading *" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please enter meter reading']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>

                  <q-img :src="meterReading.imgBase64" spinner-color="white" style="height: 140px; max-width: 150px"
                    placeholder-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWBAMAAADOL2zRAAAAG1BMVEXMzMyWlpaqqqq3t7fFxcW+vr6xsbGjo6OcnJyLKnDGAAAACXBIWXMAAA7EAAAOxAGVKw4bAAABAElEQVRoge3SMW+DMBiE4YsxJqMJtHOTITPeOsLQnaodGImEUMZEkZhRUqn92f0MaTubtfeMh/QGHANEREREREREREREtIJJ0xbH299kp8l8FaGtLdTQ19HjofxZlJ0m1+eBKZcikd9PWtXC5DoDotRO04B9YOvFIXmXLy2jEbiqE6Df7DTleA5socLqvEFVxtJyrpZFWz/pHM2CVte0lS8g2eDe6prOyqPglhzROL+Xye4tmT4WvRcQ2/m81p+/rdguOi8Hc5L/8Qk4vhZzy08DduGt9eVQyP2qoTM1zi0/uf4hvBWf5c77e69Gf798y08L7j0RERERERERERH9P99ZpSVRivB/rgAAAABJRU5ErkJggg==" />
                  <avatar-cropper v-model="showCropper" :uploadHandler="uploadFile" />
                  <q-btn @click="showCropper = true">Select an image</q-btn>

                </q-item-section>

              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Meter Reading Date</q-item-label>
                  <q-input outlined dense v-model="meterReading.currentReadingDate" mask="date" :rules="['date']"
                    label="Meter Reading Date">
                    <template v-slot:append>
                      <q-icon name=" event" class="cursor-pointer">
                        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                          <q-date v-model="meterReading.currentReadingDate" title="Meter Reading Date" today-btn>
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Close" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-checkbox v-model="meterReading.active" label="Active" color="green" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="edit_dd">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Edit ddvaluelist
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Key</q-item-label>
                  <q-input dense outlined v-model="ddvaluelist.ddKey" label="Dropdown Key *" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Value</q-item-label>
                  <q-input dense outlined v-model="ddvaluelist.ddValue" label="Value" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">display</q-item-label>
                  <q-input dense outlined v-model="ddvaluelist.display" label="Display Value" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-checkbox v-model="ddvaluelist.active" label="Active" color="green" />
                </q-item-section>
                <q-item-section>
                  <q-checkbox v-model="ddvaluelist.defaultVal" label="Default Value" color="green" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dtl_dd">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Detail ddvaluelist
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-list class="q-gutter-md">
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Category</q-item-label>
                <q-item-label class="q-pb-xs">{{ ddvaluelist.ddKey }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Dropdown Value</q-item-label>
                <q-item-label class="q-pb-xs">{{ ddvaluelist.ddValue }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Display</q-item-label>
                <q-item-label class="q-pb-xs">{{ ddvaluelist.display }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Default Value</q-item-label>
                <q-item-label class="q-pb-xs">{{ ddvaluelist.defaultVal }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>

        </q-card-section>
      </q-card>
    </q-dialog>



  </q-page>
</template>

<script>

import { exportFile, date } from "quasar";
import { defineComponent } from 'vue';
import { fetchAllValidDropdowns, getDropdownById, deleteDdById } from '../../services/DdService'
import { fetchAllElectricMeterNames, findLatest5MeterReadingsById, saveMeterReading } from '../../services/MeterReadingService'
import AvatarCropper from 'vue-avatar-cropper'


function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');

  return `"${formatted}"`;
}

export default defineComponent({
  components: { AvatarCropper },
  mounted() {
    this.initPageData()
  },

  data() {
    return {
      filter: "",
      includeDeleted: false,
      ddvaluelist: {},
      edit_dd: false,
      new_dd: false,
      dtl_dd: false,
      mode: "list", electricMeters: [], selectedItem: '', meterReading: {}, showCropper: false,
      columns: [
        { name: "id", align: "left", label: "id", field: "id", sortable: true },
        { name: "previousReading", align: "left", label: "previousReading", field: "previousReading", sortable: true },
        { name: "currentReading", align: "left", label: "currentReading", field: "currentReading", sortable: true },
        {
          name: "unitConsumed", align: "left", label: "unitConsumed",
          field: row => row.currentReading - row.previousReading, sortable: true
        },
        {
          name: "previousReadingDate", align: "left", label: "previousReadingDate", field: "previousReadingDate",
          format: val => date.formatDate(val, 'DD-MMM-YYYY'), sortable: true
        },
        {
          name: "currentReadingDate", align: "left", label: "currentReadingDate", field: "currentReadingDate",
          format: val => date.formatDate(val, 'DD-MMM-YYYY'), sortable: true
        },
        {
          name: "numberOfDays", align: "left", label: "numberOfDays",
          field: row => date.getDateDiff(row.currentReadingDate, row.previousReadingDate), sortable: true
        },
        { name: "consumedByRenter", align: "left", label: "consumedByRenter", field: "consumedByRenter", sortable: true },
        { name: "paid", align: "left", label: "paid", field: "paid", sortable: true }
      ],

      data: [],
      pagination: {
        rowsPerPage: 10
      }
    };
  },
  methods: {
    onNewMeterReading() {
      this.new_dd = true;
      this.meterReading = {};
      this.meterReading.currentReadingDate = date.formatDate(Date.now(), 'YYYY/MM/DD');
      this.meterReading.active = true;
      this.meterReading.deleted = false;
      this.meterReading.imgBase64 = '';
      this.meterReading.emId = this.selectedItem.id;
      this.meterReading.emSerialNumber = this.selectedItem.serialNumber;
      this.meterReading.emNickName = this.selectedItem.nickName;
      this.meterReading.paid = false;

    },
    uploadFile(cropperInstance) {
      const payload = cropperInstance.getCroppedCanvas().toDataURL('image/jpeg')
      console.log("payload:", payload);
      this.meterReading.imgBase64 = payload;

    },
    onlistClick(item) {
      // console.log("On click list evnt: ", item);
      this.selectedItem = item;
      this.fetchLatestMeterReadings(this.selectedItem.id)
    },
    // add new value to dropdown input field
    createValue(val, done) {
      done(val, 'add-unique')
      this.electricMeters.push(val)
    },
    initPageData() {
      console.log("init page");
      fetchAllElectricMeterNames().then(
        response => {
          this.electricMeters = response;
          console.log(response);
          this.selectedItem = this.electricMeters[0];
          this.fetchLatestMeterReadings(this.selectedItem.id)
          // console.log(this.selectedItem);
          // if (this.includeDeleted) {
          //   this.fetchAllDds(this.selectedItem)
          // } else {
          //   this.fetchAllValidDds(this.selectedItem)
          // }
        }
      ).catch(err => console.log(err))
    },
    reloadPage() {

    }
    ,

    fetchAllValidDds(selectedKey) {
      console.log("fetchAllValidDds ", selectedKey);
      fetchAllValidDropdowns(selectedKey).then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    fetchLatestMeterReadings(meterId) {
      console.log("fetchAllDds ", meterId);
      findLatest5MeterReadingsById(meterId).then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    meterReadingSave() {
      console.log("meterReadingSave save:", this.meterReading)
      saveMeterReading(this.meterReading).then(response => {
        this.reloadPage()
      }).catch(err => console.error(err))
    },
    onSubmit() {
      console.log("On submit");
      this.meterReadingSave()
      this.$q.notify({
        color: 'green-4',
        textColor: 'white',
        icon: 'cloud_done',
        message: 'Submitted',
      });

    },
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("ddvaluelist-management.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },
    onDetail(id) {
      console.log("on detail", id);
      this.dtl_dd = true
      getDropdownById(id).then(response => {
        console.log(response)
        this.ddvaluelist = response
      }).catch(err => console.error(err))
    },
    onEdit(id) {
      console.log("on edit", id);
      this.edit_dd = true;
      getDropdownById(id).then(response => {
        console.log(response)
        this.ddvaluelist = response
      }).catch(err => console.error(err))
    },
    onDelete(id) {
      console.log("on delete", id);
      deleteDdById(id).then(response => {
        console.log(response)
        this.$q.notify({
          message: response,
          color: "negative",
          icon: "warning"
        })
        this.reloadPage();


      }).catch(err => console.error(err))
    }
  }
});
</script>
