<template>
    <div class="q-pa-md">

        <div class="row">
            <div class="col-sm-2 self-start offset-1 ">
                <q-select filled v-model="ddRenterVal" :options="renters" option-label="name" label="Search by Renter"
                    @update:model-value="onPopulateDataRenter()" />
            </div>
            <div class="col-sm-2 ">
                <q-select filled v-model="ddFlatVal" :options="flats" option-label="flatNumber" label="Search by Flat"
                    @update:model-value="onPopulateDataFlat()" />
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8 self-start offset-1 ">
                <q-table title="Payment history" :rows="readingRows" :columns="readingColumns" row-key="name">

                </q-table>
            </div>
        </div>
    </div>
</template>
  
<script>

import { ref, onMounted } from 'vue'
import { date } from 'quasar'
import { fetchDropdownElectricMeters, fetchDropdownFlats, fetchDropdownRenters } from '../../services/DropdownService'
import { getRentByRenterId, getRentByFlatId } from '../../services/RentHistoryService'

export default {


    setup() {

        let ddEmeterVal = ref({
            id: '',
            nickName: ''
        })
        let ddFlatVal = ref({
            id: '',
            flatNumber: ''
        })
        let ddRenterVal = ref({
            id: '',
            name: ''
        })

        const readingRows = ref([]);
        const renters = ref([]);
        const flats = ref([]);
        const emeters = ref([]);
        const readingColumns = [
            { name: 'id', required: true, label: 'Id', align: 'left', field: 'id', sortable: true },
            { name: 'amount', label: 'Amount', field: 'amount', sortable: true },
            {
                name: 'fromDate', label: 'fromDate', field: 'fromDate', sortable: true,
                format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
            },
            {
                name: 'toDate', label: 'toDate', field: 'toDate', sortable: true,
                format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
            },
            {
                name: 'issueDate', label: 'issueDate', field: 'issueDate', sortable: true,
                format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
            },
            { name: 'renterId', label: 'Renter id', field: 'renterId', sortable: true },
            { name: 'paid', label: 'Paid', field: 'paid', sortable: true }

        ];

        onMounted(() => {
            fetchDropdownRenters().then(response => {
                console.log(response);
                renters.value = response;
            }).catch(err => console.error(err))
            fetchDropdownFlats().then(response => {
                console.log(response);
                flats.value = response;
            }).catch(err => console.error(err))
        })


        return {
            ddEmeterVal, ddFlatVal, ddRenterVal, emeters, flats, renters, readingColumns, readingRows,
            fetchDropdownElectricMeters, fetchDropdownFlats, fetchDropdownRenters,

            onSubmit() {


            },
            onPopulateDataRenter() {
                getRentByRenterId(ddRenterVal.value.id).then(response => {
                    console.log(response);
                    readingRows.value = response;
                }).catch(err => console.error(err))
                console.log("onPopulateDataRenter");
            }
            ,
            onPopulateDataFlat() {
                getRentByFlatId(ddFlatVal.value.id).then(response => {
                    console.log(response);
                    readingRows.value = response;
                }).catch(err => console.error(err))
                console.log("onPopulateDataFlat");
            },

            clearFlatDropDown() {
                ddFlatVal.value.id = ''
                ddFlatVal.value.flatNumber = ''
            },

            clearRenterDropDown() {
                ddRenterVal.value.id = ''
                ddRenterVal.value.name = ''
            }

        }
    }

}
</script>