<template>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Meternumber </th>
                    <th> Metertype </th>
                    <th> Electricmeterserialno </th>
                    <th> Actualrent </th>
                    <th> Occupied </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in meters" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.nickName }}</td>
                    <MeterReadingListVue v-if="item.meterReadings.length > 0" :readings="item.meterReadings" />
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import MeterReadingListVue from './MeterReadingList.vue';
export default {
    components:{
        MeterReadingListVue
    },

    name: 'MeterList',
    props: ['meters'],

}
</script>

