<template>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Previous Reading Date</th>
                    <th> Previous Reading </th>
                    <th> Current Reading Date</th>
                    <th> Current Reading </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in readings" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.previousReadingDate }}</td>
                    <td>{{ item.previousReading }}</td>
                    <td>{{ item.currentReadingDate }}</td>
                    <td>{{ item.currentReading }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

export default {
    name: 'MeterReadingList',
    props: ['readings'],

}
</script>