<template>
    <div class="q-pa-md">
        <q-table title="Renters" :rows="rows" :columns="columns" row-key="name" />
    </div>
</template>
  
<script>
import { defineComponent } from 'vue'
import { getAllRenters } from '../../services/RenterService'
import { date } from 'quasar'

const columns = [
    {
        name: 'id',
        required: true,
        label: 'Id',
        align: 'left',
        field: 'id',
        sortable: true
    },
    { name: 'name', align: 'center', label: 'Name', field: 'name', sortable: true },
    { name: 'fatherName', label: 'Father\'s Name', field: 'fatherName', sortable: true },
    { name: 'mobileNumber', label: 'Mobile Number', field: 'mobileNumber' },
    { name: 'dob', label: 'Date of birth', field: 'dob', format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}` },
    { name: 'active', label: 'Active', field: 'active' },
    { name: 'deleted', label: 'Deleted', field: 'deleted' },

]





export default defineComponent({


    name: 'IndexPage',
    mounted() {
        this.fetchAllRenters();
        this.$bus.on('fetchRenter', () => {
            console.log('bus event received');
            this.fetchAllRenters();
        })
    },

    data() {
        return {
            rows: []
        }
    },
    setup() {
        return {
            columns
        }
    },
    methods: {
        fetchAllRenters() {
            getAllRenters().then(response => {
                console.log(response)
                this.rows = response

            }).catch(err => console.error(err))
        }
    }
}
)
</script>