<template>
    <q-page class="flex flex-center">

        <div class="row">
            <div class="col-12">
                <RenterAdd />
            </div>
            <div class="col-12">
                <RenterList />
            </div>
        </div>
    </q-page>
</template>

<script>
import RenterList from './RenterList.vue';
import RenterAdd from './RenterAdd.vue';
export default {
    components: {
        RenterList,
        RenterAdd

    }
}
</script>