<template>
    <!--    <div class="col-4" style="width:150px">
            <q-img src="https://placeimg.com/500/300/nature" :ratio="1" />
            <q-uploader field-name="file" url="http://localhost:8090/renter/upload" accept=".jpg, image/*"
                @rejected="onRejected" max-file-size="1048576" />

        </div> -->

    <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 q-px-xs">
                <q-input filled v-model="renter.name" label="Your name *" hint="Name and surname" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />

                <q-input filled v-model="renter.fatherName" label="Your father's name *" hint="Father's name" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />

                <q-input filled v-model="renter.mobileNumber" label="Your mobile mumber *" mask="##########" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />

                <q-input filled v-model="renter.dob" mask="date" :rules="['date']" label="Date of Birth">
                    <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                            <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                <q-date v-model="renter.dob" title="Date of Birth" :options="dobOptionsFn">
                                    <div class="row items-center justify-end">
                                        <q-btn v-close-popup label="Close" color="primary" flat />
                                    </div>
                                </q-date>
                            </q-popup-proxy>
                        </q-icon>
                    </template>
                </q-input>
            </div>
            <div class="col-md-4 col-sm-6 col-12 q-px-xs">
                <q-input filled v-model="renter.homeAddress.addressLine1" label="Home Address Line 1 *" hint="addressLine1"
                    lazy-rules :rules="[val => val && val.length > 0 || 'Please type something']" />
                <q-input filled v-model="renter.homeAddress.addressLine2" label="Home Address Line 2 *" hint="addressLine2"
                    lazy-rules :rules="[val => val && val.length > 0 || 'Please type something']" />
                <q-input filled v-model="renter.homeAddress.addressLine3" label="Home Address Line 3 *" hint="addressLine3"
                    lazy-rules :rules="[val => val && val.length > 0 || 'Please type something']" />
                <q-input filled v-model="renter.homeAddress.distric" label="Home Distric *" hint="distric" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />
                <q-input filled v-model="renter.homeAddress.state" label="Home State *" hint="state" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />
                <q-input filled v-model="renter.homeAddress.pincode" label="Home Pincode *" hint="pincode" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />
            </div>
        </div>
        <div class="row">
            <q-toggle v-model="renter.active" label="Active" />

            <div class="col-md-6 offset-md-3">
                <q-btn label="Submit" type="submit" color="primary" />
                <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
        </div>
    </q-form>
    <q-uploader field-name="file" url="http://localhost:8090/renter/upload" />
</template>

<script>
import console from 'console'
import { useQuasar, date } from 'quasar'
import { ref, inject, onMounted } from 'vue'
import { saveRenter } from '../../services/RenterService'
import { getAllCountries } from '../../services/MasterService'

export default {



    setup() {
        const bus = inject('bus')
        const $q = useQuasar()
        const countries = ref([]);
        const states = [];
        const countryOptions = ref([])


        onMounted(() => {
            getAllCountries().then(response => {
                countries.value = response

                console.log(countries.value);
            }).catch(err => console.error(err))
        })


        let renter = ref({
            name: 'Neeraj',
            fatherName: 'Ram Balak Singh',
            mobileNumber: '56565556',
            active: true,
            dob: date.formatDate(new Date(), 'YYYY/MM/DD'),
            homeAddress: {
                addressLine1: "address line 1",
                addressLine2: "address line 2",
                addressLine3: "address line 3",
                distric: "Patna",
                state: "Bihar",
                pincode: "800001"
            }
        })
        function renterSave() {
            console.log(renter.value)
            saveRenter(renter.value).then(response => {
                console.log('emitted')
                bus.emit('fetchRenter');

            }).catch(err => console.error(err))
        }
        return {

            renter, saveRenter, countries, states, getAllCountries,
            countryOptions,

            filterFn(val, update, abort) {
                update(() => {
                    const needle = val.toLowerCase()
                    countryOptions.value = countries.value.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
                })
            },

            onSubmit() {

                renterSave()
                $q.notify({

                    color: 'green-4',
                    textColor: 'white',
                    icon: 'cloud_done',
                    message: 'Submitted',
                });

            },
            onRejected(rejectedEntries) {
                console.log(rejectedEntries[0].failedPropValidation)
                $q.notify({
                    type: 'negative',

                    message: `${rejectedEntries[0].failedPropValidation} allowed size is 1048576 but found ${rejectedEntries[0].file.size}`
                })
            },
            onReset() {
                renter.value.name = null
                renter.value.fatherName = null
                renter.value.mobileNumber = null
                renter.value.active = true
                renter.value.dob = null
            },
            dobOptionsFn(dobDate) {
                let currDate = date.formatDate(new Date(), 'YYYY/MM/DD');
                return dobDate <= currDate;
            }
        }
    }

}
</script>
