<template>
    <div class="container">
        <div class="row">
            <div class="col-md-7 mrgnbtm">
                <h2>Create Flat Type</h2>
                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label htmlFor="id">Id</label>
                            <input type="text" class="form-control" v-model="id" name="id" id="id"
                                aria-describedby="emailHelp" placeholder="Id" />
                        </div>
                        <div class="form-group col-md-6">
                            <label htmlFor="flatType">flatType</label>
                            <input type="text" class="form-control" v-model="flatType" name="flatType" id="flatType"
                                aria-describedby="emailHelp" placeholder="flatType" />
                        </div>
                        <div class="form-group col-md-6">
                            <label htmlFor="description">description</label>
                            <input type="text" class="form-control" v-model="description" name="description" id="description"
                                aria-describedby="emailHelp" placeholder="description" />
                        </div>
                        <button type="button" @click='createFlatType()' class="btn btn-danger">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
  
<script>
export default {
    name: 'CreateFlatTypeVue',
    data() {
        return {
            "id": '',
            "flatType": '',
            "description": '',
        }
    },
    methods: {
        createFlatType() {
            const payload = {
                id: this.id,
                flatType: this.flatType,
                description: this.description,
            }
            console.log("calling with ", payload)
            this.$emit('createFlatType', payload);
            this.clearForm();
        },
        clearForm() {
            this.id = '';
            this.flatType = '';
            this.description = '';
        }
    }
}
</script>