<template>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Id</th>
                    <th> Flattype</th>
                    <th> Description</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in flatTypes" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.flatType }}</td>
                    <td>{{ item.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: 'FlatTypeList',
    props: ['flatTypes'],

}
</script>

