<template>
  <div>
    <MyHeader></MyHeader>
    <a href="#/">Home</a> |
    <a href="#/renter">RentersPage</a> |
    <a href="#/flats">Flats</a> |
    <a href="#/flatTypes">Flat types</a> |
    <a href="#/electricMeters">Electric Meters</a>
    <component :is="currentView" />
    <MyFooter></MyFooter>
  </div>
</template>

<script>
import NotFound from './components/NotFound.vue'
import RentersPage from './components/RentersPage.vue'
import FlatsPage from './components/FlatsPage.vue'
import MyHeader from "./components/MyHeader.vue"
import MyFooter from "./components/MyFooter.vue"
import FlatTypePageVue from './components/FlatTypePage.vue'
import ElectricMeterPageVue from './components/ElectricMeterPage.vue'


const routes = {
  '/': RentersPage,
  '/renter': RentersPage,
  '/flats': FlatsPage,
  '/flatTypes': FlatTypePageVue,
  '/electricMeters': ElectricMeterPageVue,



}
export default {
  data() {
    return {
      name: 'App',
      currentPath: window.location.hash
    }
  },
  computed: {
    currentView() {
      return routes[this.currentPath.slice(1) || '/'] || NotFound
    }
  },
  mounted() {
    window.addEventListener('hashchange', () => {
      this.currentPath = window.location.hash
    })
  },
  components: {
    RentersPage,
    MyHeader,
    MyFooter,
    NotFound,
    FlatsPage,
    FlatTypePageVue,
    ElectricMeterPageVue
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
