<template>
    <div class="q-pa-md">

        <div class="row">
            <div class="col-sm-2 self-start offset-1 ">
                <q-select filled v-model="ddRenterVal" :options="renters" option-label="name" label="Search by Renter"
                    @update:model-value="onPopulateDataRenter()" />
            </div>
            <div class="col-sm-2 ">
                <q-select filled v-model="ddFlatVal" :options="flats" option-label="flatNumber" label="Search by Flat"
                    @update:model-value="onPopulateDataFlat()" />
            </div>
            <div class="col-sm-2  ">
                <q-select filled v-model="ddEmeterVal" :options="emeters" option-label="nickName" label="Search by Meter"
                    @update:model-value="onPopulateDataMeter()" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 self-start offset-1 ">
                <q-table title="Electric meter reading" :rows="readingRows" :columns="readingColumns" row-key="name">
                    <template v-slot:body-cell-name="props">
                        <q-td :props="props">
                            <q-badge :label="props.value"></q-badge>
                            <img v-for="(image, key) in images" :src="image.url" :alt="image.alt" :key="key" />
                        </q-td>
                    </template>
                </q-table>
            </div>
        </div>
    </div>
</template>
  
<script>

import { ref, onMounted } from 'vue'
import { date } from 'quasar'
import { fetchDropdownElectricMeters, fetchDropdownFlats, fetchDropdownRenters } from '../../services/DropdownService'
import { getElectricMetersByMeterId } from '../../services/ElectricMeterHistoryService'

export default {


    setup() {

        let ddEmeterVal = ref({
            id: '',
            nickName: ''
        })
        let ddFlatVal = ref({
            id: '',
            flatNumber: ''
        })
        let ddRenterVal = ref({
            id: '',
            name: ''
        })
        const images = [{ url: "https://cdn.quasar.dev/img/boy-avatar.png" }]
        const readingRows = ref([]);
        const renters = ref([]);
        const flats = ref([]);
        const emeters = ref([]);
        const readingColumns = [
            {
                name: 'id', required: true, label: 'Id', field: 'id', align: 'left', sortable: true
            },
            { name: 'currentReading', label: 'currentReading', field: 'currentReading', sortable: true },
            { name: 'previousReading', align: 'center', label: 'previousReading', field: 'previousReading', sortable: true },
            { name: 'unitConsumed', label: 'Units Consumed', field: 'unitConsumed', sortable: true },
            {
                name: 'previousReadingDate', label: 'previousReadingDate', field: 'previousReadingDate', sortable: true,
                format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
            },
            {
                name: 'currentReadingDate', label: 'currentReadingDate', field: 'currentReadingDate', sortable: true,
                format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
            },
            { name: 'numberOfDays', label: 'Number of Billing days', field: 'numberOfDays', sortable: true },
            {
                name: 'paid', label: 'Paid', field: 'paid', sortable: true
            }

        ];

        onMounted(() => {
            fetchDropdownElectricMeters().then(response => {
                console.log(response);
                emeters.value = response;
            }).catch(err => console.error(err))
            fetchDropdownRenters().then(response => {
                console.log(response);
                renters.value = response;
            }).catch(err => console.error(err))
            fetchDropdownFlats().then(response => {
                console.log(response);
                flats.value = response;
            }).catch(err => console.error(err))
        })


        return {
            ddEmeterVal, ddFlatVal, ddRenterVal, emeters, flats, renters, readingColumns, readingRows,
            fetchDropdownElectricMeters, fetchDropdownFlats, fetchDropdownRenters, getElectricMetersByMeterId,
            images,

            onSubmit() {


            },
            onPopulateDataRenter() {
                console.log("onPopulateDataRenter");
            }
            ,
            onPopulateDataFlat() {
                console.log("onPopulateDataFlat");
            },

            onPopulateDataMeter() {
                getElectricMetersByMeterId(ddEmeterVal.value.id).then(response => {
                    console.log(response);
                    readingRows.value = response.meterReadings;
                }).catch(err => console.error(err))
                console.log("onPopulateDataMeter");
            },
            clearFlatDropDown() {
                ddFlatVal.value.id = ''
                ddFlatVal.value.flatNumber = ''
            },
            clearEMeterDropDown() {
                ddEmeterVal.value.id = ''
                ddEmeterVal.value.nickName = ''
            },
            clearRenterDropDown() {
                ddRenterVal.value.id = ''
                ddRenterVal.value.name = ''
            }

        }
    }

}
</script>