<template>
    <div class="q-pa-md">


        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">

            <q-input filled v-model="electricmeter.serialNumber" label="Serial Number *" hint="Serial Number" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />

            <q-select filled v-model="electricmeter.type" :options="meterTypes" label="Meter type" />
            <q-input filled v-model="electricmeter.nickName" label="Nick Name *" hint="Nick Name" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />



            <div class="">
                <q-btn label="Submit" type="submit" color="primary" />
                <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
        </q-form>

    </div>
</template>

<script>
import { useQuasar } from 'quasar'
import { ref, inject } from 'vue'
import { saveElectricMeter } from '../../services/ElectricMeterService'


export default {

    setup() {
        const bus = inject('bus')
        const $q = useQuasar()

        const meterTypes = ref(['Digital', 'Machnical', 'Smart'])

        let electricmeter = ref({
            id: '',
            serialNumber: '',
            type: '',
            nickName: ''

        })


        function electricmeterSave() {
            console.log(electricmeter.value)
            saveElectricMeter(electricmeter.value).then(response => {
                console.log('emitted')
                bus.emit('fetchElectricMeter');

            }).catch(err => console.error(err))
        }


        return {

            electricmeter, saveElectricMeter, meterTypes,
            onSubmit() {
                // console.log("On Submit")
                // console.log(flat.value)
                electricmeterSave()
                $q.notify({

                    color: 'green-4',
                    textColor: 'white',
                    icon: 'cloud_done',
                    message: 'Submitted',
                });

            },

            onReset() {
                electricmeter.value.serialNumber = null
                electricmeter.value.type = null
                electricmeter.value.nickName = null
            }
        }
    }

}
</script>
