<template>
    <div class="q-pa-md">
        <q-table title="Electric meter" :rows="rows" :columns="columns" row-key="id" @row-click="rowClick">

        </q-table>

        <q-table title="Electric meter reading" :rows="readingRows" :columns="readingColumns" row-key="name">

        </q-table>
    </div>
</template>
  
<script>
import { defineComponent } from 'vue'
import { date } from 'quasar'
import { getAllElectricMeters, findAllMeterReadingsById } from '../../services/ElectricMeterService'

const columns = [
    {
        name: 'id',
        required: true,
        label: 'Id',
        align: 'left',
        field: 'id',
        sortable: true
    },
    { name: 'serialNumber', align: 'center', label: 'Serial Number', field: 'serialNumber', sortable: true },
    { name: 'type', label: 'Meter Type', field: 'type', sortable: true },
    { name: 'nickName', label: 'Electric Meter Serial No', field: 'nickName' },

]

const readingColumns = [
    {
        name: 'id',
        required: true,
        label: 'Id',
        align: 'left',
        field: 'id',
        sortable: true
    },
    { name: 'previousReading', align: 'center', label: 'previousReading', field: 'previousReading', sortable: true },
    { name: 'currentReading', label: 'currentReading', field: 'currentReading', sortable: true },
    { name: 'units', label: 'Units', field: row => (row.currentReading - row.previousReading), sortable: true },
    {
        name: 'previousReadingDate', label: 'previousReadingDate', field: 'previousReadingDate', sortable: true,
        format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
    },
    {
        name: 'currentReadingDate', label: 'currentReadingDate', field: 'currentReadingDate', sortable: true,
        format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
    },

]





export default defineComponent({


    name: 'IndexPage',
    mounted() {
        this.fetchAllElectricMeters();
        console.log("passing id ", this.rows);
        this.fetchAllElectricMetersReadings(1);

        this.$bus.on('fetchElectricMeter', () => {
            this.fetchAllElectricMeters();

        })
    },

    data() {
        return {
            rows: [],
            readingRows: []
        }
    },
    setup() {
        return {
            columns, readingColumns, date
        }
    },
    methods: {
        fetchAllElectricMeters() {
            getAllElectricMeters().then(response => {
                console.log(response)
                this.rows = response

            }).catch(err => console.error(err))
        },
        fetchAllElectricMetersReadings(id) {
            console.log("passing id ", id);
            findAllMeterReadingsById(id).then(response => {
                console.log("fetched response: ", response)
                this.readingRows = response

            }).catch(err => console.error(err))
        },
        rowClick(evt, row, index) {
            console.log("received", row.id);
            this.fetchAllElectricMetersReadings(row.id)
        }
    }
}
)
</script>