<template>
    <q-page class="flex flex-center">
        <div class="row">
            <div class="col-3"></div>

            <div class="col-6">
                <ElectricMeterAdd />

            </div>
            <div class="col-3"></div>
            <div class="col-12">

                <ElectricMeterList />
            </div>
        </div>
    </q-page>
</template>

<script>
import ElectricMeterList from './ElectricMeterList.vue';
import ElectricMeterAdd from './ElectricMeterAdd.vue';
export default {
    components: {
        ElectricMeterList,
        ElectricMeterAdd

    }
}
</script>