<template>
  <q-page class="q-pa-sm">

    <q-card>
      <q-table title="ElectricMeter Management" :rows="data" :hide-header="mode === 'grid'" :columns="columns"
        row-key="id" :grid="mode == 'grid'" :filter="filter" :v-model:propName="pagination">
        <template v-slot:top-right="props">
          <q-btn @click="onNewElectricMeter()" outline color="primary" label="Add New" class="q-mr-xs" />
          <q-toggle style="padding-right: 10px;" color="red" label="Show All" @click="reloadPage" v-model="includeDeleted"
            val="true" />
          <q-input outlined dense debounce="300" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>

          <q-btn flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen" v-if="mode === 'list'">
            <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ props.inFullscreen ?
              'Exit Fullscreen' : 'Toggle Fullscreen' }}
            </q-tooltip>
          </q-btn>

          <q-btn flat round dense :icon="mode === 'grid' ? 'list' : 'grid_on'"
            @click="mode = mode === 'grid' ? 'list' : 'grid'; separator = mode === 'grid' ? 'none' : 'horizontal'"
            v-if="!props.inFullscreen">
            <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ mode === 'grid' ? 'List' : 'Grid' }}
            </q-tooltip>
          </q-btn>

          <q-btn color="primary" icon-right="archive" label="Export to csv" no-caps @click="exportTable" />
        </template>
        <template v-slot:body-cell-used="props">
          <q-td :props="props">
            <q-chip :color="(props.row.used) ? 'green' : 'red'" text-color="white" dense class="text-weight-bolder" circle
              style="width: 20px; text-align: center;" :icon="(props.row.used) ? 'check' : 'close'">
            </q-chip>
          </q-td>
        </template>
        <template v-slot:body-cell-active="props">
          <q-td :props="props">
            <q-chip :color="(props.row.active) ? 'green' : 'red'" text-color="white" dense class="text-weight-bolder"
              circle style="width: 20px; text-align: center;" :icon="(props.row.active) ? 'check' : 'close'">
            </q-chip>
          </q-td>
        </template>
        <template v-slot:body-cell-action="props">
          <q-td :props="props">
            <div class="q-gutter-sm">
              <q-btn dense color="primary" icon="search" @click="onDetail(props.row.id)" />
              <q-btn dense color="primary" icon="edit" @click="onEdit(props.row.id)"
                v-bind:disable="(props.row.deleted)" />
              <q-btn dense color="red" icon="delete" @click="onDelete(props.row.id)"
                v-bind:disable="(props.row.deleted)" />
            </div>
          </q-td>
        </template>
      </q-table>
    </q-card>
    <q-dialog v-model="new_electricmeter">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Add new electricmeter
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">ElectricMeter Serial Number</q-item-label>
                  <q-input dense outlined v-model="electricmeter.serialNumber" label="ElectricMeter Serial Number *"
                    lazy-rules :rules="[val => val && val.length > 0 || 'Please type something']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">ElectricMeter Type</q-item-label>
                  <q-select outlined dense v-model="electricmeter.type" input-debounce="0" :options="electricMeterTypes"
                    option-label="display" option-value="ddValue" label="ElectricMeter Type" emit-value />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Nick Name</q-item-label>
                  <q-input dense outlined v-model="electricmeter.nickName" label="Nick Name" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Electric meter name']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-checkbox v-model="electricmeter.active" label="Active" color="green" />
                </q-item-section>
                <q-item-section>
                  <q-checkbox v-model="electricmeter.used" label="Used" color="green" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="edit_electricmeter">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Edit electricmeter
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">ElectricMeter Serial Number</q-item-label>
                  <q-input dense outlined v-model="electricmeter.serialNumber" label="ElectricMeter Serial Number *"
                    lazy-rules :rules="[val => val && val.length > 0 || 'Please type something']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">ElectricMeter type</q-item-label>
                  <q-select outlined dense v-model="electricmeter.type" input-debounce="0" :options="electricMeterTypes"
                    option-label="display" option-value="ddValue" label="ElectricMeter Type" emit-value />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Nick Name</q-item-label>
                  <q-input dense outlined v-model="electricmeter.nickName" label="Nick Name" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Electric meter name']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-checkbox v-model="electricmeter.active" label="Active" color="green" />
                </q-item-section>
                <q-item-section>
                  <q-checkbox v-model="electricmeter.used" label="Used" color="green" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dtl_electricmeter">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Detail electricmeter
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-list class="q-gutter-md">
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">ElectricMeter Serial Number</q-item-label>
                <q-item-label class="q-pb-xs">{{ electricmeter.serialNumber }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">ElectricMeter Type</q-item-label>
                <q-item-label class="q-pb-xs">{{ electricmeter.type }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Nick Name</q-item-label>
                <q-item-label class="q-pb-xs">{{ electricmeter.nickName }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>

        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { exportFile } from "quasar";
import { defineComponent } from 'vue'
import { getAllElectricMeters, saveElectricMeter, deleteElectricMeterById, getAllValidElectricMeters, getElectricMeterById } from '../../services/ElectricMeterService'
import { fetchAllValidDropdowns } from '../../services/DdService'


function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');

  return `"${formatted}"`;
}

export default defineComponent({

  mounted() {
    fetchAllValidDropdowns('MTR_TYP').then(response => {
      console.log(response)
      this.electricMeterTypes = response

    }).catch(err => console.error(err))
    this.reloadPage()
  },

  data() {
    return {
      filter: "",
      includeDeleted: false,
      electricmeter: {},
      edit_electricmeter: false,
      new_electricmeter: false,
      dtl_electricmeter: false,
      mode: "list", electricMeterTypes: [],
      columns: [
        { name: "serialNumber", align: "left", label: "ElectricMeter Serial Number", field: "serialNumber", sortable: true },
        { name: "type", align: "left", label: "ElectricMeter Type", field: "type", sortable: true },
        { name: "nickName", align: "left", label: "Nick Name", field: "nickName", sortable: true },
        { name: "used", align: "left", label: "Used", field: "used", sortable: true },
        { name: "active", align: "left", label: "Active", field: "active", sortable: true },
        { name: "action", align: "left", label: "Action", field: "action", sortable: true }
      ],
      data: [],
      pagination: {
        rowsPerPage: 10
      }
    };
  },
  methods: {

    reloadPage() {
      if (this.includeDeleted) {
        this.fetchAllElectricMeters()
      } else {
        this.fetchAllValidElectricMeters()
      }
    },
    getDefaultValue(list) {
      const defaultVal = (element) => element.defaultVal;
      return list.filter(defaultVal)[0].ddValue;
    },
    fetchAllValidElectricMeters() {
      getAllValidElectricMeters().then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    fetchAllElectricMeters() {
      getAllElectricMeters().then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    electricmeterSave() {
      console.log("electricmeter save:", this.electricmeter)
      saveElectricMeter(this.electricmeter).then(response => {
        this.reloadPage()

      }).catch(err => console.error(err))
    },
    onSubmit() {
      console.log("On submit");
      this.electricmeterSave()
      this.$q.notify({
        color: 'green-4',
        textColor: 'white',
        icon: 'cloud_done',
        message: 'Submitted',
      });

    },
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("electricmeter-management.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },
    onNewElectricMeter() {
      this.new_electricmeter = true;
      this.electricmeter = {};
      this.electricmeter.active = true;
      this.electricmeter.deleted = false;
      this.electricmeter.type = this.getDefaultValue(this.electricMeterTypes);
      this.electricmeter.used = false;
    },
    onDetail(id) {
      console.log("on detail", id);
      this.dtl_electricmeter = true
      getElectricMeterById(id).then(response => {
        console.log(response)
        this.electricmeter = response
      }).catch(err => console.error(err))
    },
    onEdit(id) {
      console.log("on edit", id);
      this.edit_electricmeter = true;
      getElectricMeterById(id).then(response => {
        console.log(response)
        this.electricmeter = response
      }).catch(err => console.error(err))
    },
    onDelete(id) {
      console.log("on delete", id);
      deleteElectricMeterById(id).then(response => {
        console.log(response)
        this.$q.notify({
          message: response,
          color: "negative",
          icon: "warning"
        })
        this.reloadPage();


      }).catch(err => console.error(err))
    }
  }
});
</script>
