<template>
   <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Father Name</th>
                <th>Mobile Number</th>
            </tr>
            </thead>
            <tbody>
              <tr v-for="item in renters" :key="item.id">
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.fatherName }}</td>
                  <td>{{ item.mobileNumber }}</td>
              </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
        name: 'RentersPage',
        props: ['renters'],

}
</script>

