<template>
  <q-page class="q-pa-sm">

    <q-card class="row">
      <!-- card-class="bg-yellow-1 text-blue" table-class="text-green-6"
          table-header-class="text-blue"  -->
      <div class="col">
        <q-table color="primary" card-class="bg-yellow-1 text-blue" table-class="text-green-6"
          table-header-class="text-blue" flat bordered title="Invoice Management" :rows="data"
          :hide-header="mode === 'grid'" :columns="columns" row-key="id" :grid="mode == 'grid'" :filter="filter"
          rowsPerPage="0">
          <template v-slot:top-right="props">
            <q-toggle style="padding-right: 10px;" color="red" label="Show All" @click="reloadPage"
              v-model="includeDeleted" val="true" />
            <q-input outlined dense debounce="300" v-model="filter" placeholder="Search">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
            <q-btn flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
              @click="props.toggleFullscreen" v-if="mode === 'list'">
              <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ props.inFullscreen ?
                'Exit Fullscreen' : 'Toggle Fullscreen' }}
              </q-tooltip>
            </q-btn>

            <q-btn flat round dense :icon="mode === 'grid' ? 'list' : 'grid_on'"
              @click="mode = mode === 'grid' ? 'list' : 'grid'; separator = mode === 'grid' ? 'none' : 'horizontal'"
              v-if="!props.inFullscreen">
              <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ mode === 'grid' ? 'List' : 'Grid' }}
              </q-tooltip>
            </q-btn>

            <q-btn color="primary" icon-right="archive" label="Export to csv" no-caps @click="exportTable" />
          </template>
          <template v-slot:body-cell-paid="props">
            <q-td :props="props">
              <q-chip :color="(props.row.paid) ? 'green' : 'red'" text-color="white" dense class="text-weight-bolder"
                circle style="width: 20px; text-align: center;" :icon="(props.row.paid) ? 'check' : 'close'">
              </q-chip>
            </q-td>
          </template>

          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width />
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th key="action">Action</q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn size="sm" color="accent" round dense @click="props.expand = !props.expand"
                  :icon="props.expand ? 'remove' : 'add'" />
              </q-td>
              <q-td v-for=" col  in  props.cols" :key="col.name" :props="props">
                <div v-if="col.name != 'paid'">{{ col.value }}</div>
                <q-chip v-if="col.name == 'paid'" :color="(props.row.paid) ? 'green' : 'red'" text-color="white" dense
                  class="text-weight-bolder" circle style="width: 20px; text-align: center;"
                  :icon="(props.row.paid) ? 'check' : 'close'">
                </q-chip>

              </q-td>
              <q-td key="action">
                <div class=" q-gutter-sm">
                  <q-btn dense color="primary" icon="search" @click="onDetail(props.row.id)">
                    <q-tooltip>
                      View Invoice-Payment details
                    </q-tooltip>
                  </q-btn>
                  <q-btn dense color="primary" icon="payments" @click="acceptPyament(props.row.id)"
                    v-bind:disable="(props.row.paid) == true">

                    <q-tooltip v-if="(props.row.paid) == true">
                      Payment already done.
                    </q-tooltip>
                    <q-tooltip v-if="(props.row.paid) == false">
                      Accept Payment.
                    </q-tooltip>
                  </q-btn>
                </div>
              </q-td>
            </q-tr>

            <q-tr v-show="props.expand" :props="props">
              <q-td colspan="100%">
                <q-table card-class="bg-yellow-5 text-blue" table-class="bg-yellow-2 text-green-6"
                  table-header-class="text-blue" flat bordered title="Payments" :rows="props.row.pmnts"
                  :columns="paymentColumns" row-key="id" :rows-per-page-options="[0]">
                </q-table>
              </q-td>
            </q-tr>
          </template>

        </q-table>
      </div>
    </q-card>

    <q-dialog v-model="edit_invoice">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Accept payment
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs text-bold">{{ selectedInvoice.particular }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Amount</q-item-label>
                  <q-input filled type="number" prefix="$" :decimals="2" step="any"
                    v-model.number="invoicePayment.amountReceived" label="Amount received *" lazy-rules :rules="
                      [
                        val => val !== null && val !== '' || 'Please type your amount',
                        val => val > 0 || 'Please type a amount'
                      ]
                    " />
                  <q-btn dense color="primary" icon="refresh" label="Update balance amount"
                    @click="fetchBalanceDue(selectedInvoice.id)" />

                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Payment Method</q-item-label>

                  <q-select outlined dense v-model="invoicePayment.paymentMethod" :options="ddPaymentMethods"
                    label="Payment Method" input-debounce="0" lazy-rules option-label="display" option-value="ddValue"
                    emit-value :rules="[val => val && val.length > 0 || 'Please select payment method']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Rent Start Date</q-item-label>
                  <q-input outlined dense v-model="invoicePayment.dateReceived" mask="date" :rules="['date']"
                    label="Payment Date">
                    <template v-slot:append>
                      <q-icon name=" event" class="cursor-pointer">
                        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                          <q-date v-model="invoicePayment.dateReceived" title="Payment Date" today-btn>
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Close" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dtl_invoice">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Invoice details
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-list class="q-gutter-md">
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Invoice Id : {{ selectedInvoice.id }} </q-item-label>
                <q-item-label class="q-pb-xs">Detail : {{ selectedInvoice.particular }} </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-table flat bordered title="Payments" :rows="selectedInvoice.pmnts" :columns="paymentColumns"
                  row-key="id" hide-bottom />
              </q-item-section>
            </q-item>
          </q-list>

        </q-card-section>
      </q-card>
    </q-dialog>



  </q-page>
</template>

<script>

import { exportFile, date } from "quasar";
import { defineComponent, computed } from 'vue';
import { fetchAllValidDropdowns } from '../../services/DdService'
import { fetchAllInvoices, getInvoiceById, saveInvoicePayment, getBalanceDueById } from '../../services/InvoiceService'



function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;
  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);
  formatted = formatted.split('"').join('""');
  return `"${formatted}"`;
}
const totalPayment = computed(() => {
  let ebill = 0;

  this.invoicePayment.pmnts.forEach(element => {
    ebill += (element.amountReceived);
  })
  return ebill;
})
export default defineComponent({

  mounted() {
    this.initPageData()

    fetchAllValidDropdowns('PMT_MTHD').then(response => {
      console.log(response)
      this.ddPaymentMethods = response

    }).catch(err => console.error(err))
  },

  data() {
    return {
      filter: "",
      includeDeleted: false,
      invoicePayment: {},
      edit_invoice: false,
      new_invoice: false,
      dtl_invoice: false,
      mode: "list", selectedInvoice: {}, ddPaymentMethods: [], totalPayment: '',
      columns: [
        { name: "amount", align: "left", label: "Amount", field: "amount", sortable: true },
        { name: "issueDate", align: "left", label: "Issue Date", field: "issueDate", sortable: true, format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}` },
        { name: "paymentDueDate", align: "left", label: "Due Date", field: "paymentDueDate", sortable: true, format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}` },
        { name: "fromDate", align: "left", label: "From Date", field: "fromDate", sortable: true, format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}` },
        { name: "toDate", align: "left", label: "To Date", field: "toDate", sortable: true, format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}` },
        { name: "paid", align: "left", label: "Paid", field: "paid", sortable: true },
        { name: "renterId", align: "left", label: "Renter Id", field: "renterId", sortable: true },
        { name: "particular", align: "left", label: "Particular", field: "particular", sortable: true },
      ],
      paymentColumns: [
        { name: "id", align: "left", label: "Id", field: "id", sortable: true },
        { name: "invoiceId", align: "left", label: "Invoice id", field: "invoiceId", sortable: true },
        { name: "amountReceived", align: "left", label: "Paid Amount", field: "amountReceived", sortable: true },
        { name: "dateReceived", align: "left", label: "Payment date", field: "dateReceived", sortable: true, format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}` },
        { name: "paymentMethod", align: "left", label: "Payment method", field: "paymentMethod", sortable: true },
      ],
      data: [],
      pagination: {
        rowsPerPage: 10
      },
    };

  },
  methods: {

    initPageData() {
      fetchAllInvoices().then(
        response => {
          this.data = response
        }
      ).catch(err => console.log(err))
    },
    reloadPage() {

    }
    ,
    invoicePaymentSave() {
      console.log("invoicePaymentSave:", this.invoicePayment)
      saveInvoicePayment(this.invoicePayment).then(response => {
        this.initPageData();
      }).catch(err => console.error(err))
    },
    onSubmit() {
      console.log("On submit");
      this.invoicePaymentSave();
      this.$q.notify({
        color: 'green-4',
        textColor: 'white',
        icon: 'cloud_done',
        message: 'Submitted',
      });

    },
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("invoice-management.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },
    onDetail(id) {
      console.log("on detail", id);
      this.dtl_invoice = true
      getInvoiceById(id).then(response => {
        console.log(response)
        this.selectedInvoice = response
      }).catch(err => console.error(err))
    },
    acceptPyament(id) {
      console.log("on edit", id);

      getInvoiceById(id).then(response => {
        console.log(response)
        this.selectedInvoice = response
        this.invoicePayment.amountReceived = this.selectedInvoice.amount;
        this.invoicePayment.invoiceId = this.selectedInvoice.id;
        this.invoicePayment.id = '';
        this.invoicePayment.paymentMethod = '';
        console.log("this.invoicePayment: ", this.invoicePayment);
        console.log("this.selectedInvoice: ", this.selectedInvoice);
        this.edit_invoice = true;
      }).catch(err => console.error(err))
    },
    calculateTotalPayment() {
      let ebill = 0;

      this.invoicePayment.pmnts.forEach(element => {
        ebill += (element.unitConsumed * 8.5);
      })
      return ebill;
    },
    fetchBalanceDue(invoiceId) {
      getBalanceDueById(invoiceId).then(response => {
        this.invoicePayment.amountReceived = response
      }).catch(err => console.log(err))
    }
  }
});
</script>
