<template>
    <div class="q-pa-md">
        <q-table title="FlatTypes" :rows="rows" :columns="columns" row-key="id" />
    </div>
</template>
  
<script>
import { defineComponent } from 'vue'
import { getAllFlatTypes } from '../../services/FlatTypeService'

const columns = [
    {
        name: 'id',
        required: true,
        label: 'Id',
        align: 'left',
        field: 'id',
        sortable: true
    },
    { name: 'flatTypeCode', align: 'center', label: 'Flat Type code', field: 'flatTypeCode', sortable: true },
    { name: 'flatTypeName', label: 'Flat Type Name', field: 'flatTypeName', sortable: true },
    { name: 'description', label: 'Description', field: 'description' },

]





export default defineComponent({


    name: 'IndexPage',
    mounted() {
        this.fetchAllFlatTypes();
        this.$bus.on('fetchFlatType', () => {
            this.fetchAllFlatTypes();
        })
    },

    data() {
        return {
            rows: []
        }
    },
    setup() {
        return {
            columns
        }
    },
    methods: {
        fetchAllFlatTypes() {
            getAllFlatTypes().then(response => {
                console.log(response)
                this.rows = response

            }).catch(err => console.error(err))
        }
    }
}
)
</script>