<template>
    <q-page class="flex flex-center">
        <div class="row">
            <div class="col-3"></div>

            <div class="col-6">
                <FlatTypeAdd />

            </div>
            <div class="col-3"></div>
            <div class="col-12">

                <FlatTypeList />
            </div>
        </div>
    </q-page>
</template>

<script>
import FlatTypeList from './FlatTypeList.vue';
import FlatTypeAdd from './FlatTypeAdd.vue';
export default {
    components: {
        FlatTypeList,
        FlatTypeAdd

    }
}
</script>