<template>
    <div class="q-pa-md">


        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">

            <q-input filled v-model="flattype.flatTypeCode" label="FlatType Code *" hint="FlatType Code" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />
            <q-input filled v-model="flattype.flatTypeName" label="FlatType Name *" hint="FlatType Name" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />
            <q-input filled v-model="flattype.description" label="FlatType Description *" hint="FlatType Description"
                lazy-rules :rules="[val => val && val.length > 0 || 'Please type something']" />


            <div class="">
                <q-btn label="Submit" type="submit" color="primary" />
                <q-btn label="Reset" type="reset" color="primary" flattype class="q-ml-sm" />
            </div>
        </q-form>

    </div>
</template>

<script>
import { useQuasar } from 'quasar'
import { ref, inject } from 'vue'
import { saveFlatType } from '../../services/FlatTypeService'

export default {

    setup() {
        const bus = inject('bus')
        const $q = useQuasar()
        let flattype = ref({
            id: '',
            flatTypeCode: '',
            flatTypeName: '',
            description: '',

        })

        function flattypeSave() {
            console.log(flattype.value)
            saveFlatType(flattype.value).then(response => {
                console.log('emitted')
                bus.emit('fetchFlatType');

            }).catch(err => console.error(err))
        }

        return {

            flattype, saveFlatType,
            onSubmit() {
                // console.log("On Submit")
                // console.log(flattype.value)
                flattypeSave()
                $q.notify({

                    color: 'green-4',
                    textColor: 'white',
                    icon: 'cloud_done',
                    message: 'Submitted',
                });

            },

            onReset() {

                flattype.value.id = null
                flattype.value.flatTypeCode = null
                flattype.value.flatTypeName = null
                flattype.value.description = null

            }
        }
    }

}
</script>
