<template>
  <div>
    <q-form @submit.prevent="submitForm">
      <q-input v-model="email" label="Email"
        :rules="[val => !!val || 'Email is required', val => emailRegex.test(val) || 'Invalid email']" />

      <q-btn type="submit" label="Submit" color="primary" :loading="isLoading" />
    </q-form>

    <q-dialog v-model="dialog" persistent>
      <q-card>
        <q-card-section>
          <q-card-title>Confirmation</q-card-title>
          <q-card-main>
            An email with instructions to reset your password has been sent.
          </q-card-main>
          <q-card-actions align="right">
            <q-btn label="Close" color="primary" @click="dialog = false" />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      isLoading: false,
      dialog: false,
      emailRegex: /^[^\s@]+@[^\s@]+\.[^\s@]+$/,
    };
  },
  methods: {
    submitForm() {
      // Perform form submission logic (e.g., send request to backend)
      // Show confirmation dialog after successful submission
      this.dialog = true;
    },
  },
};
</script>
