<template>
  <q-page class="flex flex-center">
    <q-card class="q-pa-md" style="max-width: 400px;">
      <q-card-section class="q-pa-md">
        <div class="text-h6">Login</div>

        <q-input v-model="credentials.userName" filled label="userName" dense @keyup.enter="login" />
        <q-input v-model="credentials.password" filled label="Password" type="password" dense @keyup.enter="login" />

        <q-btn class="full-width" color="primary" label="Login" @click="login" />
      </q-card-section>

      <q-card-actions align="right">
        <router-link to="/forgotPassword">
          <q-btn label="Forgot Password?" flat dense color="primary" />
        </router-link>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script>
import { login } from '../../services/LoginService'
import { api } from 'src/boot/axios';
export default {
  data() {
    return {
      credentials: {
        userName: '',
        password: ''
      }
    };
  },
  methods: {
    login() {
      // Perform login logic here
      // For simplicity, just checking if userName and password are not empty
      if (this.credentials.userName.trim() === '' || this.credentials.password.trim() === '') {
        this.$q.notify({
          color: 'negative',
          message: 'userName and password are required.'
        })
      } else {
        // You can perform AJAX request to server here to validate the login credentials
        // If credentials are valid, redirect user to dashboard or perform necessary actions
        // For demonstration purpose, just showing success notification

        console.log("login: ", this.credentials);
        login(this.credentials).then(response => {
          console.log(response)
          this.data = response

          api.defaults.headers.common = { 'Authorization': `bearer ${this.data.token}` }

        }).catch(err => console.error(err))

        this.$q.notify({
          color: 'positive',
          message: 'Login successful!'
        })
      }
    }
  }
}
</script>

<style scoped>
.full-width {
  width: 100%;
}
</style>
