<template>
  <q-page class="q-pa-md">
    <q-card>
      <q-card-section>
        <div class="text-h6">Register</div>
        <q-form @submit.prevent="registerUser">
          <q-input outlined v-model="appUser.firstName" label="First Name" />
          <q-input outlined v-model="appUser.lastName" label="Last Name" />
          <q-input outlined v-model="appUser.email" label="Email" type="email" />
          <q-input outlined v-model="appUser.password" label="Password" type="password" />
          <q-btn type="submit" color="primary" label="Register" />
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { registerAppUser } from '../../services/LoginService'
export default {
  data() {
    return {
      appUser: {
        firstName: '',
        lastName: '',
        email: '',
        password: ''
      }
    };
  },
  methods: {
    registerUser() {
      // Implement registration logic here
      console.log('Registering user...');
      console.log('First Name:', this.appUser.firstName);
      console.log('Last Name:', this.appUser.lastName);
      console.log('Email:', this.appUser.email);
      console.log('Password:', this.appUser.password);
      // You would typically send this data to your backend API

      registerAppUser(this.appUser).then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))

      this.$q.notify({
        color: 'positive',
        message: 'User registered successfully!'
      })

    }
  }
};
</script>
