<template>
    <div class="q-pa-md">
        <q-table title="House" :rows="rows" :columns="columns" row-key="name">
            <template v-slot:body="props">
                <q-tr :props="props">
                    <q-td key="id" :props="props">
                        {{ props.row.id }}
                    </q-td>
                    <q-td key="name" :props="props"> {{ props.row.name }} </q-td>
                    <q-td key="number" :props="props"> {{ props.row.number }} </q-td>
                    <q-td key="addressLine1" :props="props"> {{ props.row.address.addressLine1 }} </q-td>
                    <q-td key="addressLine2" :props="props"> {{ props.row.address.addressLine2 }} </q-td>
                    <q-td key="addressLine3" :props="props"> {{ props.row.address.addressLine3 }} </q-td>
                    <q-td key="distric" :props="props"> {{ props.row.address.distric }} </q-td>
                    <q-td key="state" :props="props"> {{ props.row.address.state }} </q-td>
                    <q-td key="pincode" :props="props"> {{ props.row.address.pincode }} </q-td>
                </q-tr>
            </template>
        </q-table>

    </div>
</template>
  
<script>
import { defineComponent } from 'vue'
import { getAllHouses } from '../../services/HouseService'

const columns = [
    { name: 'id', label: 'Id', field: 'id', align: 'left', required: true, sortable: true },
    { name: 'name', label: 'Name', field: 'name', align: 'center', sortable: true },
    { name: 'number', label: 'Number', field: 'number', sortable: true },
    { name: 'addressLine1', label: 'addressLine1', field: 'address.addressLine1' },
    { name: 'addressLine2', label: 'addressLine2', field: 'address.addressLine2' },
    { name: 'addressLine3', label: 'addressLine3', field: 'address.addressLine3' },
    { name: 'distric', label: 'distric', field: 'address.distric' },
    { name: 'state', label: 'state', field: 'address.state' },
    { name: 'pincode', label: 'pincode', field: 'address.pincode' },

]

export default defineComponent({


    name: 'IndexPage',
    mounted() {
        this.fetchAllHouses();
        this.$bus.on('fetchHouse', () => {
            this.fetchAllHouses();
        })
    },

    data() {
        return {
            rows: []
        }
    },
    setup() {
        return {
            columns
        }
    },
    methods: {
        fetchAllHouses() {
            getAllHouses().then(response => {
                console.log(response)
                this.rows = response

            }).catch(err => console.error(err))
        }
    }
}
)
</script>