<template>
    <q-page class="flex flex-center">
        <div class="row">
            <div class="col-3"></div>

            <div class="col-6">
                <HouseAdd />

            </div>
            <div class="col-3"></div>
            <div class="col-12">

                <HouseList />
            </div>
        </div>
    </q-page>
</template>

<script>
import HouseList from './HouseList.vue';
import HouseAdd from './HouseAdd.vue';
export default {
    components: {
        HouseList,
        HouseAdd

    }
}
</script>