<template>
    <div class="q-pa-md">


        <q-form ref="houseform" @submit="onSubmit" @reset="onReset" class="q-gutter-md">

            <q-input filled v-model="house.name" label="House Name *" hint="House Name" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />
            <q-input filled v-model="house.number" label="House Number *" hint="House number" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />
            <q-input filled v-model="house.address.addressLine1" label="addressLine1 *" hint="addressLine1" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />
            <q-input filled v-model="house.address.addressLine2" label="addressLine2 " hint="addressLine2" />
            <q-input filled v-model="house.address.addressLine3" label="addressLine3 " hint="addressLine3" />
            <q-input filled v-model="house.address.distric" label="distric *" hint="distric" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />
            <q-input filled v-model="house.address.state" label="state *" hint="state" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />
            <q-input filled v-model="house.address.pincode" label="pincode *" hint="pincode" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />

            <div class="">
                <q-btn label="Submit" type="submit" color="primary" />
                <q-btn label="Reset" type="reset" color="primary" house class="q-ml-sm" />
            </div>
        </q-form>

    </div>
</template>

<script>
import { useQuasar } from 'quasar'
import { ref, inject } from 'vue'
import { saveHouse } from '../../services/HouseService'

export default {

    setup() {
        const bus = inject('bus')
        const $q = useQuasar()
        const houseform = ref()
        let house = ref({
            id: '',
            name: '',
            number: '',
            address: {
                addressLine1: '',
                addressLine2: '',
                addressLine3: '',
                distric: '',
                state: '',
                pincode: ''
            }
        })

        function houseSave() {
            console.log(house.value)
            saveHouse(house.value).then(response => {
                console.log('emitted')
                bus.emit('fetchHouse');

            }).catch(err => console.error(err))
        };
        function clearform() {
            house.value.name = '';
            house.value.number = '';
            house.value.address.addressLine1 = '';
            house.value.address.addressLine2 = '';
            house.value.address.addressLine3 = '';
            house.value.address.distric = '';
            house.value.address.state = '';
            house.value.address.pincode = '';
            houseform.value.resetValidation()
        }

        return {

            house, saveHouse, clearform, houseform,
            onReset() {

                clearform()
            },
            onSubmit() {

                houseSave()
                $q.notify({

                    color: 'green-4',
                    textColor: 'white',
                    icon: 'cloud_done',
                    message: 'Submitted',
                });
                clearform()
            },
        }
    }

}
</script>
