<template>
  <q-page class="q-pa-sm">

    <q-card>
      <q-table title="House Management" :rows="data" :hide-header="mode === 'grid'" :columns="columns" row-key="id"
        :grid="mode == 'grid'" :filter="filter" :v-model:propName="pagination">
        <template v-slot:top-right="props">
          <q-btn @click="resetNewForm" outline color="primary" label="Add New" class="q-mr-xs" />
          <q-toggle style="padding-right: 10px;" color="red" label="Show All" @click="reloadPage" v-model="includeDeleted"
            val="true" />
          <q-input outlined dense debounce="300" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>

          <q-btn flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen" v-if="mode === 'list'">
            <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ props.inFullscreen ?
              'Exit Fullscreen' : 'Toggle Fullscreen' }}
            </q-tooltip>
          </q-btn>

          <q-btn flat round dense :icon="mode === 'grid' ? 'list' : 'grid_on'"
            @click="mode = mode === 'grid' ? 'list' : 'grid'; separator = mode === 'grid' ? 'none' : 'horizontal'"
            v-if="!props.inFullscreen">
            <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ mode === 'grid' ? 'List' : 'Grid' }}
            </q-tooltip>
          </q-btn>

          <q-btn color="primary" icon-right="archive" label="Export to csv" no-caps @click="exportTable" />
        </template>
        <template v-slot:body-cell-active="props">
          <q-td :props="props">
            <q-chip :color="(props.row.active) ? 'green' : 'red'" text-color="white" dense class="text-weight-bolder"
              circle style="width: 20px; text-align: center;" :icon="(props.row.active) ? 'check' : 'close'">
            </q-chip>
          </q-td>
        </template>
        <template v-slot:body-cell-action="props">
          <q-td :props="props">
            <div class="q-gutter-sm">
              <q-btn dense color="primary" icon="search" @click="onDetail(props.row.id)" />
              <q-btn dense color="primary" icon="edit" @click="onEdit(props.row.id)"
                v-bind:disable="(props.row.deleted)" />
              <q-btn dense color="red" icon="delete" @click="onDelete(props.row.id)"
                v-bind:disable="(props.row.deleted)" />
            </div>
          </q-td>
        </template>
      </q-table>
    </q-card>
    <q-dialog v-model="new_house">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Add new house
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">House Name</q-item-label>
                  <q-input dense outlined v-model="house.name" label="House's name *" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">House Number</q-item-label>
                  <q-input dense outlined v-model="house.number" label="House  number" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Address</q-item-label>
                  <q-input dense outlined v-model="house.address" label="Address" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">City</q-item-label>
                  <q-input dense outlined v-model="house.city" label="City" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">State</q-item-label>
                  <q-input dense outlined v-model="house.state" label="State" />
                </q-item-section>
              </q-item>

            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="edit_house">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Edit house
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">House Name</q-item-label>
                  <q-input dense outlined v-model="house.name" label="House's name *" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">House Number</q-item-label>
                  <q-input dense outlined v-model="house.number" label="House  number" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Address</q-item-label>
                  <q-input dense outlined v-model="house.address" label="Address" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">City</q-item-label>
                  <q-input dense outlined v-model="house.city" label="City" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">State</q-item-label>
                  <q-input dense outlined v-model="house.state" label="State" />
                </q-item-section>
              </q-item>

            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dtl_house">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Detail house
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-list class="q-gutter-md">
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">House Name</q-item-label>
                <q-item-label class="q-pb-xs">{{ house.name }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">House Number</q-item-label>
                <q-item-label class="q-pb-xs">{{ house.number }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Address</q-item-label>
                <q-item-label class="q-pb-xs">{{ house.address }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">City</q-item-label>
                <q-item-label class="q-pb-xs">{{ house.city }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">State</q-item-label>
                <q-item-label class="q-pb-xs">{{ house.state }}</q-item-label>
              </q-item-section>
            </q-item>

          </q-list>

        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { exportFile } from "quasar";
import { defineComponent } from 'vue'
import { getAllHouses, saveHouse, deleteHouseById, getAllValidHouses, getHouseById } from '../../services/HouseService'


function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');

  return `"${formatted}"`;
}

export default defineComponent({

  mounted() {
    this.reloadPage()
  },

  data() {
    return {
      filter: "",
      includeDeleted: false,
      house: {},
      edit_house: false,
      new_house: false,
      dtl_house: false,
      mode: "list",
      columns: [
        { name: "name", align: "left", label: "House Name", field: "name", sortable: true },
        { name: "number", align: "left", label: "House Number", field: "number", sortable: true },
        { name: "address", align: "left", label: "Address", field: "address", sortable: true },
        { name: "city", align: "left", label: "City", field: "city", sortable: true },
        { name: "state", align: "left", label: "State", field: "state", sortable: true },
        { name: "active", align: "left", label: "Active", field: "active", sortable: true },
        { name: "action", align: "left", label: "Action", field: "action", sortable: true }
      ],
      data: [],
      pagination: {
        rowsPerPage: 10
      }
    };
  },
  methods: {
    resetNewForm() {
      this.new_house = true,
        this.house = {},
        this.house.active = true,
        this.house.deleted = false

    },

    reloadPage() {
      if (this.includeDeleted) {
        this.fetchAllHouses()
      } else {
        this.fetchAllValidHouses()
      }
    },
    fetchAllValidHouses() {
      getAllValidHouses().then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    fetchAllHouses() {
      getAllHouses().then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    houseSave() {
      console.log("house save:", this.house)
      saveHouse(this.house).then(response => {
        this.reloadPage()

      }).catch(err => console.error(err))
    },
    onSubmit() {
      console.log("On submit");
      this.houseSave()
      this.$q.notify({
        color: 'green-4',
        textColor: 'white',
        icon: 'cloud_done',
        message: 'Submitted',
      });

    },
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("house-management.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },
    onDetail(id) {
      console.log("on detail", id);
      this.dtl_house = true
      getHouseById(id).then(response => {
        console.log(response)
        this.house = response
      }).catch(err => console.error(err))
    },
    onEdit(id) {
      console.log("on edit", id);
      this.edit_house = true;
      getHouseById(id).then(response => {
        console.log(response)
        this.house = response
      }).catch(err => console.error(err))
    },
    onDelete(id) {
      console.log("on delete", id);
      deleteHouseById(id).then(response => {
        console.log(response)
        this.$q.notify({
          message: response,
          color: "negative",
          icon: "warning"
        })
        this.reloadPage();


      }).catch(err => console.error(err))
    }
  }
});
</script>
