<template>
    <div class="container">
        <div class="row">
            <div class="col-md-7 mrgnbtm">
                <h2>Create Flat</h2>
                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label htmlFor="id">Id</label>
                            <input type="text" class="form-control" v-model="id" name="id" id="id"
                                aria-describedby="emailHelp" placeholder="Id" />
                        </div>
                        <div class="form-group col-md-6">
                            <label htmlFor="flatNumber">Flatnumber</label>
                            <input type="text" class="form-control" v-model="flatNumber" name="flatNumber"
                                id="flatNumber" aria-describedby="emailHelp" placeholder="Flatnumber" />
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label htmlFor="electricMeterSerialNo">Electricmeterserialno</label>
                            <input type="text" class="form-control" v-model="electricMeterSerialNo"
                                name="electricMeterSerialNo" id="electricMeterSerialNo" aria-describedby="emailHelp"
                                placeholder="Electricmeterserialno" />
                        </div>
                        <div class="form-group col-md-6">
                            <label htmlFor="actualRent">Actualrent</label>
                            <input type="text" class="form-control" v-model="actualRent" name="actualRent"
                                id="actualRent" aria-describedby="emailHelp" placeholder="Actualrent" />
                        </div>
                        <div class="form-group col-md-6">
                            <label htmlFor="flatType">Flat type</label>
                            <select name="flatType" v-model="flatType" class="form-control">
                                <option v-for="item in flatTypes" :key="item.id">
                                    {{ item.flatTypeCode }}
                                </option>

                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label htmlFor="occupied">Occupied</label>
                            <input type="checkbox" class="form-control" v-model="occupied" name="occupied"
                                v-bind:checked="false" id="occupied" />

                        </div>
                        <button type="button" @click='createFlat()' class="btn btn-danger">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
  
<script>
import { getAllFlatTypes } from "../../services/FlatTypeService"
export default {
    name: 'CreateFlatVue',
    mounted() {
        this.getAllFlatTypes()
    },
    data() {
        return {
            flatTypes:[],
            id: '',
            flatNumber: '102',
            flatType: '1BHK',
            electricMeterSerialNo: '21211',
            actualRent: '2333',
            occupied: 'false'
        }
    },
    methods: {
        getAllFlatTypes() {
            console.log("I am in service")
            getAllFlatTypes().then(response => {
                console.log(response)
                this.flatTypes = response

            })
        },
        createFlat() {
            console.log(this.flatNumber)
            const payload = {
                id: this.id,
                flatNumber: this.flatNumber,
                flatType: this.flatType,
                electricMeterSerialNo: this.electricMeterSerialNo,
                actualRent: this.actualRent,
                occupied: this.occupied
            }
            console.log("calling with ", payload)
            this.$emit('createFlat', payload);
            this.clearForm();
        },
        clearForm() {
            this.id = "";
            this.flatNumber = "";
            this.flatType = "";
            this.electricMeterSerialNo = "";
            this.actualRent = "";
            this.occupied = "";
        }
    }
}
</script>