<template>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Flatnumber </th>
                    <th> Flattype </th>
                    <th> Electricmeterserialno </th>
                    <th> Actualrent </th>
                    <th> Occupied </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in flats" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.flatNumber }}</td>
                    <td>{{ item.flatType }}</td>
                    <td>{{ item.electricMeterSerialNo }}</td>
                    <td>{{ item.actualRent }}</td>
                    <td>{{ item.occupied }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: 'FlatList',
    props: ['flats'],

}
</script>

