<template>
    <div>
        <div class="container mrgnbtm">
            
            <div class="row mrgnbtm">
                <MeterList v-if="meters.length > 0" :meters="meters" />
            </div>
        </div>
    </div>
</template>
<script>
import MeterList from './meter/MeterList.vue';
import { getAllMeters  } from '@/services/MeterService';

export default {
    mounted() {
        this.getAllMeters();
    },
    components: {
        MeterList
    },
    data() {
        return {
            meters: []
        }
    },
    methods: {
        getAllMeters() {
            console.log("I am in service")
            getAllMeters().then(response => {
                console.log(response)
                this.meters = response

            })
        },
        
    }

}

</script>