<template>
    <div>
        <div class="container mrgnbtm">
            <div class="row">
                <div class="col-md-8">
                    <CreateFlatTypeVue @createFlatType="flatTypeCreate($event)" />
                </div>
            </div>
            <div class="row mrgnbtm">
                <FlatTypeList v-if="flatTypes.length > 0" :flatTypes="flatTypes" />
            </div>
        </div>
    </div>
</template>
<script>
import FlatTypeList from './flatType/FlatTypeList.vue';
import { getAllFlatTypes, createFlatType } from '@/services/FlatTypeService';
import CreateFlatTypeVue from './flatType/CreateFlatType.vue';
export default {
    mounted() {
        this.getAllFlatTypes();
    },
    components: {
        FlatTypeList,
        CreateFlatTypeVue
    },
    data() {
        return {
            flatTypes: []
        }
    },
    methods: {
        getAllFlatTypes() {
            getAllFlatTypes().then(response => {
                console.log(response)
                this.flatTypes = response

            })
        },
        flatTypeCreate(data) {
            console.log(' flatCreate data:::', data)
            createFlatType(data).then(response => {
                console.log(response)
                this.getAllFlatTypes()
            }).catch(err => console.error(err.message));
        },
    }

}

</script>