<template>
    <div>
        <div class="container mrgnbtm">
            <div class="row">
                <div class="col-md-8">
                    <CreateFlatVue @createFlat="flatCreate($event)" />
                </div>
            </div>
            <div class="row mrgnbtm">
                <FlatList v-if="flats.length > 0" :flats="flats" />
            </div>
        </div>
    </div>
</template>
<script>
import FlatList from './flat/FlatList.vue';
import { getAllFlats, createFlat } from '@/services/FlatService';
import CreateFlatVue from './flat/CreateFlat.vue';
export default {
    mounted() {
        this.getAllFlats();
    },
    components: {
        FlatList,
        CreateFlatVue
    },
    data() {
        return {
            flats: []
        }
    },
    methods: {
        getAllFlats() {
            console.log("I am in service")
            getAllFlats().then(response => {
                console.log(response)
                this.flats = response

            })
        },
        flatCreate(data) {
            console.log(' flatCreate data:::', data)
            createFlat(data).then(response => {
                console.log(response)
                this.getAllFlats()
            }).catch(err => console.error(err.message));
        },
    }

}

</script>