<template>
  <div>

    <div class="row mrgnbtm">
      <Renter v-if="renters.length > 0" :renters="renters" />
    </div>
  </div>
</template>
<script>
import Renter from './renters/RenterList.vue';
import { getAllRenters } from '@/services/RenterService';
export default {
  mounted() {
    this.getAllRenters();
  },
  components: {
    Renter
  },
  data() {
    return {
      renters: [],
      numberOfRenters: 0

    }
  },

  methods: {
    getAllRenters() {
      console.log("I am in service")
      getAllRenters().then(response => {
        console.log(response)
        this.renters = response
        this.numberOfRenters = this.renters.length
      }).catch(err=>console.error(err));
    }
  }

}

</script>