<template>
  <div>
    <Rentermanagement />

  </div>
</template>

<script>

import Rentermanagement from '../pages/renter/renter_management.vue'

export default {
  components: {
    Rentermanagement
  }
}

</script>
