<template>
  <q-page class="q-pa-sm">

    <q-card>
      <q-table title="Flat Management" :rows="data" :hide-header="mode === 'grid'" :columns="columns" row-key="id"
        :grid="mode == 'grid'" :filter="filter" :v-model:propName="pagination">
        <template v-slot:top-right="props">
          <q-btn @click="resetNewForm" outline color="primary" label="Add New" class="q-mr-xs" />
          <q-toggle style="padding-right: 10px;" color="red" label="Show All" @click="reloadPage" v-model="includeDeleted"
            val="true" />
          <q-input outlined dense debounce="300" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>

          <q-btn flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen" v-if="mode === 'list'">
            <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ props.inFullscreen ?
              'Exit Fullscreen' : 'Toggle Fullscreen' }}
            </q-tooltip>
          </q-btn>

          <q-btn flat round dense :icon="mode === 'grid' ? 'list' : 'grid_on'"
            @click="mode = mode === 'grid' ? 'list' : 'grid'; separator = mode === 'grid' ? 'none' : 'horizontal'"
            v-if="!props.inFullscreen">
            <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ mode === 'grid' ? 'List' : 'Grid' }}
            </q-tooltip>
          </q-btn>

          <q-btn color="primary" icon-right="archive" label="Export to csv" no-caps @click="exportTable" />
        </template>
        <template v-slot:body-cell-occupied="props">
          <q-td :props="props">
            <q-chip :color="(props.row.occupied) ? 'green' : 'red'" text-color="white" dense class="text-weight-bolder"
              circle style="width: 20px; text-align: center;" :icon="(props.row.occupied) ? 'check' : 'close'">
            </q-chip>
          </q-td>
        </template>
        <template v-slot:body-cell-active="props">
          <q-td :props="props">
            <q-chip :color="(props.row.active) ? 'green' : 'red'" text-color="white" dense class="text-weight-bolder"
              circle style="width: 20px; text-align: center;" :icon="(props.row.active) ? 'check' : 'close'">
            </q-chip>
          </q-td>
        </template>
        <template v-slot:body-cell-action="props">
          <q-td :props="props">
            <div class="q-gutter-sm">
              <q-btn dense color="primary" icon="search" @click="onDetail(props.row.id)" />
              <q-btn dense color="primary" icon="edit" @click="onEdit(props.row.id)"
                v-bind:disable="(props.row.deleted)" />
              <q-btn dense color="red" icon="delete" @click="onDelete(props.row.id)"
                v-bind:disable="(props.row.deleted)" />
            </div>
          </q-td>
        </template>
      </q-table>
    </q-card>
    <q-dialog v-model="new_flat">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Add new flat
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">House</q-item-label>
                  <q-select outlined dense v-model="flat.house" option-label="name" :options="houses" label="House" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Flat Number</q-item-label>
                  <q-input dense outlined v-model="flat.flatNumber" label="Flat Number *" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Flat Type</q-item-label>
                  <q-select outlined dense v-model="flat.flatType" :options="flattypes" label="Flat Type"
                    input-debounce="0" option-label="display" option-value="ddValue" emit-value />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Flat Meter Number</q-item-label>
                  <q-select outlined dense v-model="flat.electricMeter" :options="electricMeters" option-label="nickName"
                    label="Flat Meter Number" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Monthly Rent</q-item-label>
                  <q-input outlined dense v-model="flat.rentAmount" label="Monthly Rent *" hint="Monthly Rent" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-checkbox v-model="flat.active" label="Active" color="green" />
                </q-item-section>
                <q-item-section>
                  <q-checkbox v-model="flat.occupied" label="Occupied" color="cyan" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="edit_flat">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Edit flat
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">House</q-item-label>
                  <q-select outlined dense v-model="flat.house" option-label="name" :options="houses" label="House" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Flat Number</q-item-label>
                  <q-input dense outlined v-model="flat.flatNumber" label="Flat Number *" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Flat Type</q-item-label>
                  <q-select outlined dense v-model="flat.flatType" :options="flattypes" label="Flat Type"
                    input-debounce="0" option-label="display" option-value="ddValue" emit-value />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Flat Meter Number</q-item-label>
                  <q-select outlined dense v-model="flat.electricMeter" :options="electricMeters" option-label="nickName"
                    label="Flat Meter Number" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Monthly Rent</q-item-label>
                  <q-input outlined dense v-model="flat.rentAmount" label="Monthly Rent *" hint="Monthly Rent" lazy-rules
                    :rules="[val => val && val.length > 0 || 'Please type something']" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-checkbox v-model="flat.active" label="Active" color="green" />
                </q-item-section>
                <q-item-section>
                  <q-checkbox v-model="flat.occupied" label="Occupied" color="cyan" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dtl_flat">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Detail flat
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-list class="q-gutter-md">
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">House</q-item-label>
                <q-item-label class="q-pb-xs">{{ flat.house.name }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Flat Number</q-item-label>
                <q-item-label class="q-pb-xs">{{ flat.flatNumber }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Flat Type</q-item-label>
                <q-item-label class="q-pb-xs">
                  {{ flat.flatType.flatTypeName }}

                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Flat Meter Number</q-item-label>
                <q-item-label class="q-pb-xs">{{ flat.electricMeter.nickName + '/' + flat.electricMeter.serialNumber
                }}</q-item-label>
              </q-item-section>renter
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Monthly Rent</q-item-label>
                <q-item-label class="q-pb-xs">{{ flat.rentAmount }}</q-item-label>
              </q-item-section>
            </q-item>

          </q-list>

        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { exportFile } from "quasar";
import { defineComponent, ref } from 'vue'
import { getAllFlats, saveFlat, deleteFlatById, getAllValidFlats, getFlatById } from '../../services/FlatService'
import { getAllValidHouses } from 'src/services/HouseService'

import { getAllUnUsedElectricMeters } from '../../services/ElectricMeterService'
import { fetchAllValidDropdowns } from '../../services/DdService'


function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');

  return `"${formatted}"`;
}

export default defineComponent({

  mounted() {
    this.reloadPage()
    // house dropdown
    getAllValidHouses().then(response => {
      console.log(response)
      this.houses = response
    }).catch(err => console.error(err))
    // Flat type dropdown
    fetchAllValidDropdowns('FLT_TYP').then(response => {
      this.flattypes = response

    }).catch(err => console.error(err))

    // dropdown electric meters
    getAllUnUsedElectricMeters().then(response => {
      console.log(response)
      this.electricMeters = response

    }).catch(err => console.error(err))
  },

  data() {
    return {
      filter: "",
      includeDeleted: false,
      flat: {
        "id": '',
        "flatNumber": '',
        "flatType": '',
        "electricMeter": {
          "createdOn": '',
          "modifiedOn": '',
          "createdBy": '',
          "modifiedBy": '',
          "active": '',
          "deleted": '',
          "deletedOn": '',
          "id": '',
          "serialNumber": '',
          "type": '',
          "nickName": '',
          "meterReadings": ''
        },
        "occupied": '',
        "active": '',
        "rentAmount": '',
        "rentDueDate": '',
        "renterId": '',
        "monthlyRents": [

        ],
        "house": {
          "createdOn": '',
          "modifiedOn": '',
          "createdBy": '',
          "modifiedBy": '',
          "active": '',
          "deleted": '',
          "deletedOn": '',
          "id": '',
          "name": '',
          "number": '',
          "address": '',
          "city": '',
          "state": '',
          "flats": ''
        }
      },
      edit_flat: false,
      new_flat: false,
      dtl_flat: false,
      mode: "list",
      houses: [],
      flattypes: [],
      electricMeters: [],
      columns: [
        { name: "housename", align: "left", label: "House Name", field: (row) => row.house.name, sortable: true },
        { name: "flatNumber", align: "left", label: "Flat Number", field: "flatNumber", sortable: true },
        { name: "flatTypeName", align: "left", label: "Flat Type", field: "flatType", sortable: true },

        { name: "rentAmount", align: "left", label: "rentAmount", field: "rentAmount", sortable: true },
        { name: "occupied", align: "left", label: "occupied", field: "occupied", sortable: true },
        { name: "active", align: "left", label: "Active", field: "active", sortable: true },
        { name: "action", align: "left", label: "Action", field: "action", sortable: true }
      ],
      data: [],
      pagination: {
        rowsPerPage: 10
      }
    };
  },
  methods: {
    resetNewForm() {
      this.new_flat = true,
        this.flat = {},
        this.flat.active = true,
        this.flat.deleted = false,
        this.flat.occupied = false
    },
    reloadPage() {
      if (this.includeDeleted) {
        this.fetchAllFlats()
      } else {
        this.fetchAllValidFlats()
      }
    },
    fetchAllValidFlats() {
      getAllValidFlats().then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    fetchAllFlats() {
      getAllFlats().then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    flatSave() {
      console.log("flat save:", this.flat)
      saveFlat(this.flat).then(response => {
        this.reloadPage()

      }).catch(err => console.error(err))
    },
    onSubmit() {
      console.log("On submit");
      this.flatSave()
      this.$q.notify({
        color: 'green-4',
        textColor: 'white',
        icon: 'cloud_done',
        message: 'Submitted',
      });

    },
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("flat-management.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },
    onDetail(id) {
      console.log("on detail", id);
      this.dtl_flat = true
      getFlatById(id).then(response => {
        console.log(response)
        this.flat = response
      }).catch(err => console.error(err))
    },
    onEdit(id) {
      console.log("on edit", id);
      this.edit_flat = true;
      getFlatById(id).then(response => {
        console.log(response)
        this.flat = response
      }).catch(err => console.error(err))
    },
    onDelete(id) {
      console.log("on delete", id);
      deleteFlatById(id).then(response => {
        console.log(response)
        this.$q.notify({
          message: response,
          color: "negative",
          icon: "warning"
        })
        this.reloadPage();


      }).catch(err => console.error(err))
    }
  }
});
</script>
