<template>
  <q-page class="flex flex-center">
    <div class="row">
      <div class="col-3">
        <FlatList />
      </div>

      <div class="col-6">
        <FlatAdd />

      </div>
      <div class="col-3"></div>
      <div class="col-12">

        <FlatList />
      </div>
    </div>
  </q-page>
</template>

<script>
import FlatList from './FlatList.vue';
import FlatAdd from './FlatAdd.vue';
export default {
  components: {
    FlatList,
    FlatAdd

  }
}
</script>
