<template>
    <div class="q-pa-md">

        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">

            <q-select filled v-model="flat.house" option-label="name" :options="houses" label="House" />

            <q-input filled v-model="flat.flatNumber" label="Flat Number *" hint="Flat Number" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />

            <q-select filled v-model="flat.flatType" option-value="flatTypeCode" option-label="flatTypeName"
                :options="flattypes" label="Flat Type" />

            <!-- <q-input filled v-model="flat.flatType" label="Flat Type *" hint="Flat Type" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" /> -->

            <q-select filled v-model="flat.electricMeter" :options="electricMeters" option-label="nickName"
                label="Flat Meter Number" />

            <q-input filled v-model="flat.rentAmount" label="Monthly Rent *" hint="Monthly Rent" lazy-rules
                :rules="[val => val && val.length > 0 || 'Please type something']" />
            <q-toggle v-model="flat.occupied" label="Occupied" />

            <div class="">
                <q-btn label="Submit" type="submit" color="primary" />
                <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
        </q-form>

    </div>
</template>

<script>
import { useQuasar } from 'quasar'
import { ref, inject, onMounted } from 'vue'
import { saveFlat } from '../../services/FlatService'
import { getAllFlatTypes } from '../../services/FlatTypeService'
import { getAllElectricMeters } from '../../services/ElectricMeterService'
import { getAllHouses } from 'src/services/HouseService'

export default {

    setup() {
        const bus = inject('bus')
        const $q = useQuasar()
        const flattypes = ref(null)
        const houses = ref(null)
        let flat = ref({
            id: '',
            flatNumber: '',
            flatType: '',
            electricMeter: {
                id: '', serialNumber: '', type: '', nickName: ''
            },
            rentAmount: '',
            occupied: false
        })
        let electricMeters = ref(null)
        onMounted(() => {
            // dropdown flat types
            getAllFlatTypes().then(response => {
                console.log(response)
                flattypes.value = response

            }).catch(err => console.error(err))
            // dropdown house
            getAllHouses().then(response => {
                console.log(response)
                houses.value = response

            }).catch(err => console.error(err))
            // dropdown electric meters
            getAllElectricMeters().then(response => {
                console.log(response)
                electricMeters.value = response

            }).catch(err => console.error(err))
        })

        function flatSave() {
            console.log(flat.value)
            saveFlat(flat.value).then(response => {
                console.log('emitted')
                bus.emit('fetchFlat');

            }).catch(err => console.error(err))
        }


        return {

            flat, saveFlat, flattypes, electricMeters, houses,
            onSubmit() {
                // console.log("On Submit")
                // console.log(flat.value)
                flatSave()
                $q.notify({

                    color: 'green-4',
                    textColor: 'white',
                    icon: 'cloud_done',
                    message: 'Submitted',
                });

            },

            onReset() {

                flat.value.flatNumber = null
                flat.value.flatType = null
                flat.value.electricMeter = null
                flat.value.rentAmount = null
                flat.value.occupied = null
                flat.value.house = null
            }
        }
    }

}
</script>
