<template>
    <div class="q-pa-md">
        <q-table title="Flats" :rows="rows" :columns="columns" row-key="name">
            <template v-slot:body="props">
                <q-tr :props="props">
                    <q-td key="id" :props="props">
                        {{ props.row.id }}
                    </q-td>
                    <q-td key="flatNumber" :props="props">

                        {{ props.row.flatNumber }}

                    </q-td>
                    <q-td key="flatType" :props="props">

                        {{ props.row.flatType.flatTypeName }}

                    </q-td>
                    <q-td key="house" :props="props">

                        {{ props.row.house.name }}

                    </q-td>
                    <q-td key="electricMeter" :props="props">

                        {{ props.row.electricMeter.serialNumber }}

                    </q-td>
                    <q-td key="rentAmount" :props="props">

                        {{ props.row.rentAmount }}

                    </q-td>
                    <q-td key="occupied" :props="props">

                        {{ props.row.occupied }}

                    </q-td>
                </q-tr>
            </template>
        </q-table>
    </div>
</template>
  
<script>
import { defineComponent } from 'vue'
import { getAllFlats } from '../../services/FlatService'

const columns = [
    {
        name: 'id',
        required: true,
        label: 'Id',
        align: 'left',
        field: 'id',
        sortable: true
    },
    { name: 'flatNumber', align: 'center', label: 'Flat Number', field: 'flatNumber', sortable: true },
    { name: 'flatType', label: 'Flat Type', field: 'flatType', sortable: true },
    { name: 'house', label: 'House', field: 'house', sortable: true },
    { name: 'electricMeter', label: 'Electric Meter Serial No', field: 'electricMeter.serialNumber' },
    { name: 'rentAmount', label: 'Actual Rent', field: 'rentAmount' },
    { name: 'occupied', label: 'Occupied', field: 'occupied' },

]





export default defineComponent({


    name: 'IndexPage',
    mounted() {
        this.fetchAllFlats();
        this.$bus.on('fetchFlat', () => {
            this.fetchAllFlats();
        })
    },

    data() {
        return {
            rows: []
        }
    },
    setup() {
        return {
            columns
        }
    },
    methods: {
        fetchAllFlats() {
            getAllFlats().then(response => {
                console.log(response)
                this.rows = response

            }).catch(err => console.error(err))
        }
    }
}
)
</script>