<template>
    <div class="q-pa-md">


        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">


            <q-select filled v-model="rentflat.renter" :options="renters" option-label="name" label="Renter" />
            <q-select filled v-model="rentflat.flat" :options="flats" option-label="flatNumber" label="Flat"
                @update:model-value="onFlatSelect()" />
            <q-input filled type="number" prefix="₹" :decimals="2" step="any" v-model.number="rentflat.rentAmountAgreed"
                label="Rent Amount Agreed *" lazy-rules :rules="[
                    val => val !== null && val !== '' || 'Please type your amount',
                    val => val > 0 || 'Please type a amount'
                ]" />

            <q-input filled type="number" prefix="₹" :decimals="2" step="any" v-model.number="rentflat.electricRateAgreed"
                label="Electric Charge per Unit Agreed *" lazy-rules :rules="[
                    val => val !== null && val !== '' || 'Please type your amount',
                    val => val > 0 || 'Please type a amount'
                ]" />

            <q-input filled v-model="rentflat.rentStartDate" mask="date" :rules="['date']" label="Rent Start Date">
                <template v-slot:append>
                    <q-icon name=" event" class="cursor-pointer">
                        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                            <q-date v-model="rentflat.rentStartDate" title="Rent Start Date">
                                <div class="row items-center justify-end">
                                    <q-btn v-close-popup label="Close" color="primary" flat />
                                </div>
                            </q-date>
                        </q-popup-proxy>
                    </q-icon>
                </template>
            </q-input>
            <q-select filled v-model="rentflat.pmntFrequency" :options="paymntFqns" option-label="displayName"
                option-value="name" label="Payment Frequency" emit-value />

            <q-select filled v-model="rentflat.pmntAdvance" :options="paymntAdvs" option-label="displayName"
                option-value="name" label="Payment Advance" emit-value />
            <div class="">
                <q-btn label="Submit" type="submit" color="primary" />
                <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
        </q-form>

    </div>
</template>

<script>
import { useQuasar, date } from 'quasar'
import { ref, inject, onMounted } from 'vue'
import { getAllRentersList } from '../../services/RenterService'
import { getAllFlatsList } from '../../services/FlatService'
import { saveRentflat, queryByFlatActualRent } from '../../services/RentFlatService'
import { fetchDropdownMasterVals } from 'src/services/DropdownService'



export default {

    setup() {
        const bus = inject('bus')
        const $q = useQuasar()

        const renters = ref([]);
        const flats = ref([]);
        const paymntFqns = ref([]);
        const paymntAdvs = ref([]);

        let rentflat = ref({
            id: '',
            renter: '',
            flat: '',
            rentStartDate: date.formatDate(new Date(), 'YYYY/MM/DD'),
            pmntFrequency: '',
            pmntAdvance: '',
            rentAmountAgreed: '',
            electricRateAgreed: '8'
        });
        function onFlatSelect() {
            queryByFlatActualRent(rentflat.value.flat.id).then(response => {

                rentflat.value.rentAmountAgreed = response

            }).catch(err => console.error(err))

            console.log("I am in Flat Select", rentflat.value.flat);
        }
        onMounted(() => {
            getAllFlatsList().then(response => {

                flats.value = response

            }).catch(err => console.error(err))

            getAllRentersList().then(response => {

                renters.value = response

            }).catch(err => console.error(err))

            fetchDropdownMasterVals("PMNTFQ").then(response => {

                paymntFqns.value = response

            }).catch(err => console.error(err))

            fetchDropdownMasterVals("PMNTTYP").then(response => {

                paymntAdvs.value = response
            }).catch(err => console.error(err))

        })

        function rentflatSave() {
            console.log(rentflat.value)
            saveRentflat(rentflat.value).then(response => {

                bus.emit('fetchRentflat');

            }).catch(err => console.error(err))
        }


        return {
            rentflat,
            renters,
            flats,
            getAllRentersList,
            getAllFlatsList,
            saveRentflat,
            paymntFqns, paymntAdvs, onFlatSelect,

            onSubmit() {
                console.log(rentflat.value)
                rentflatSave()
                $q.notify({

                    color: 'green-4',
                    textColor: 'white',
                    icon: 'cloud_done',
                    message: 'Submitted',
                });

            },

            onReset() {
                rentflat.value.renter = null
                rentflat.value.flat = null
                rentflat.value.rentStartDate = null
                rentflat.value.pmntFrequency = null;
                rentflat.value.pmntAdvance = null;
                rentflat.value.rentAmountAgreed = null;
            }
        }
    }

}
</script>
