<template>
    <q-page class="flex flex-center">
        <div class="row">
            <div class="col-3"></div>

            <div class="col-6">
                <RentFlatAdd />

            </div>
            <div class="col-3"></div>
            <div class="col-12">

                <RentFlatList />
            </div>
        </div>
    </q-page>
</template>

<script>
import RentFlatList from './RentFlatList.vue';
import RentFlatAdd from './RentFlatAdd.vue';
export default {
    components: {
        RentFlatList,
        RentFlatAdd

    }
}
</script>