<template>
    <div class="q-pa-md">
        <q-table title="Rented Flats" :rows="rows" :columns="columns" row-key="id">

        </q-table>
    </div>
</template>
  
<script>
import { defineComponent } from 'vue'
import { date } from 'quasar'
import { getAllRentflats } from '../../services/RentFlatService'

const columns = [
    { name: 'rentedFlat', required: true, label: 'Flat Number', align: 'left', field: 'rentedFlat', sortable: true },
    { name: 'renterName', align: 'center', label: 'Renter Name', field: 'renterName', sortable: true },
    { name: 'rentAmountAgreed', align: 'center', label: 'Rent', field: 'rentAmountAgreed', sortable: true },
    { name: 'rentStartDate', label: 'Rent Start Date', field: 'rentStartDate', sortable: true, format: val => date.formatDate(val, 'DD-MMM-YYYY') },
    { name: 'pmntFrequency', align: 'center', label: 'pmnt Frequency', field: 'pmntFrequency', sortable: true },
    { name: 'pmntAdvance', align: 'center', label: 'pmnt Advance', field: 'pmntAdvance', sortable: true },

]


export default defineComponent({

    mounted() {
        this.fetchAllRentflats();
        this.$bus.on('fetchRentflat', () => {
            this.fetchAllRentflats();
        })
    },
    data() {
        return {
            rows: []

        }
    },
    setup() {
        return {
            columns, date, getAllRentflats
        }
    },
    methods: {
        fetchAllRentflats() {
            getAllRentflats().then(response => {
                console.log(response);
                this.rows = response
            }).catch(err => console.error(err))
        }

    }
}
)
</script>