<template>
  <q-page class="q-pa-sm">

    <q-card>
      <q-table title="Rentflat Management" :rows="data" :hide-header="mode === 'grid'" :columns="columns" row-key="id"
        :grid="mode == 'grid'" :filter="filter" :v-model:propName="pagination">
        <template v-slot:top-right="props">
          <q-btn @click="resetNewForm" outline color="primary" label="Add New" class="q-mr-xs" />
          <q-toggle style="padding-right: 10px;" color="red" label="Show All" @click="reloadPage" v-model="includeDeleted"
            val="true" />
          <q-input outlined dense debounce="300" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>

          <q-btn flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen" v-if="mode === 'list'">
            <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ props.inFullscreen ?
              'Exit Fullscreen' : 'Toggle Fullscreen' }}
            </q-tooltip>
          </q-btn>

          <q-btn flat round dense :icon="mode === 'grid' ? 'list' : 'grid_on'"
            @click="mode = mode === 'grid' ? 'list' : 'grid'; separator = mode === 'grid' ? 'none' : 'horizontal'"
            v-if="!props.inFullscreen">
            <q-tooltip :disable="$q.platform.is.mobile" v-close-popup>{{ mode === 'grid' ? 'List' : 'Grid' }}
            </q-tooltip>
          </q-btn>

          <q-btn color="primary" icon-right="archive" label="Export to csv" no-caps @click="exportTable" />
        </template>
        <template v-slot:body-cell-active="props">
          <q-td :props="props">
            <q-chip :color="(props.row.active) ? 'green' : 'red'" text-color="white" dense class="text-weight-bolder"
              circle style="width: 20px; text-align: center;" :icon="(props.row.active) ? 'check' : 'close'">
            </q-chip>
          </q-td>
        </template>
        <template v-slot:body-cell-action="props">
          <q-td :props="props">
            <div class="q-gutter-sm">
              <q-btn dense color="primary" icon="search" @click="onDetail(props.row.id)" />
              <q-btn dense color="primary" icon="edit" @click="onEdit(props.row.id)"
                v-bind:disable="(props.row.deleted)" />
              <q-btn dense color="red" icon="delete" @click="onDelete(props.row.id)"
                v-bind:disable="(props.row.deleted)" />
            </div>
          </q-td>
        </template>
      </q-table>
    </q-card>
    <!-- Book Flat start-->
    <q-dialog v-model="new_rentflat">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Book Flat
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Renter Name</q-item-label>
                  <q-select outlined dense v-model="rentflat.renter" :options="renters" option-label="name"
                    label="Renter" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <div class="row">

                    <div class="col q-pr-xs">
                      <q-item-label class="q-pb-xs">House</q-item-label>
                      <q-select outlined dense v-model="dd_house" option-label="name" :options="houses" label="House"
                        @update:model-value="onHouseSelect()" />
                    </div>
                    <div class="col q-pl-xs">
                      <q-item-label class="q-pb-xs">Flat </q-item-label>
                      <q-select outlined dense v-model="rentflat.flat" :options="flats" option-label="flatNumber"
                        label="Flat" @update:model-value="onFlatSelect()" />
                    </div>
                  </div>
                </q-item-section>
              </q-item>
              <q-item>

                <q-item-section>
                  <div class="row">

                    <div class="col q-pr-xs">
                      <q-item-label class="q-pb-xs">Actual Rent</q-item-label>
                      <q-input outlined dense type="number" prefix="₹" :decimals="2" step="any"
                        v-model.number="rentflat.rentAmountAgreed" label="Rent Amount Agreed *" lazy-rules :rules="[
                          val => val !== null && val !== '' || 'Please type your amount',
                          val => val > 0 || 'Please type a amount'
                        ]" />
                    </div>
                    <div class="col q-pl-xs">
                      <q-item-label class="q-pb-xs">Electric Rate per Unit</q-item-label>
                      <q-input outlined dense type="number" prefix="₹" :decimals="2" step="any"
                        v-model.number="rentflat.electricRateAgreed" label="Electric Charge per Unit Agreed *" lazy-rules
                        :rules="[
                          val => val !== null && val !== '' || 'Please type your amount',
                          val => val > 0 || 'Please type a amount'
                        ]" />
                    </div>
                  </div>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <div class="row">

                    <div class="col">
                      <q-item-label class="q-pb-xs">Electric Meter </q-item-label>
                      <q-input outlined dense type="text" :model-value="emNickName" label="Electric Meter Name" />
                    </div>
                    <div class="col q-px-sm">
                      <q-item-label class="q-pb-xs">Previous Reading</q-item-label>
                      <q-input outlined dense type="number" step="any" label="Previous Reading" v-model="prevReading" />
                    </div>
                    <div class="col">
                      <q-item-label class="q-pb-xs">Current Reading</q-item-label>
                      <q-input outlined dense type="number" step="any" label="Current Reading"
                        v-model="rentflat.currentMeterReading" />
                    </div>
                  </div>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Rent Start Date</q-item-label>
                  <q-input outlined dense v-model="rentflat.rentStartDate" mask="date" :rules="['date']"
                    label="Rent Start Date">
                    <template v-slot:append>
                      <q-icon name=" event" class="cursor-pointer">
                        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                          <q-date v-model="rentflat.rentStartDate" title="Rent Start Date" today-btn>
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Close" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <div class="row">

                    <div class="col q-pr-xs">
                      <q-item-label class="q-pb-xs">Payment Frequency</q-item-label>
                      <q-select outlined dense v-model="rentflat.pmntFrequency" :options="paymntFqns"
                        option-label="display" label="Payment Frequency" emit-value />

                    </div>
                    <div class="col q-pl-xs">
                      <q-item-label class="q-pb-xs">Advance Payment</q-item-label>
                      <q-select outlined dense v-model="rentflat.pmntAdvance" :options="paymntAdvs" option-label="display"
                        label="Payment Advance" option-value="ddValue" emit-value />
                    </div>
                  </div>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-checkbox v-model="rentflat.active" label="Active" color="green" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- Book Flat end-->

    <q-dialog v-model="edit_rentflat">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Edit Booked Flat
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Renter Name</q-item-label>
                  <q-select filled v-model="rentflat.renter" :options="renters" option-label="name" label="Renter" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">House</q-item-label>
                  <q-select outlined dense v-model="rentflat.flat.house" option-label="name" :options="houses"
                    label="House" @update:model-value="onHouseSelect()" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Flat </q-item-label>
                  <q-select filled v-model="rentflat.flat" :options="flats" option-label="flatNumber" label="Flat"
                    @update:model-value="onFlatSelect()" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Address</q-item-label>
                  <q-input filled type="number" prefix="₹" :decimals="2" step="any"
                    v-model.number="rentflat.rentAmountAgreed" label="Rent Amount Agreed *" lazy-rules :rules="[
                      val => val !== null && val !== '' || 'Please type your amount',
                      val => val > 0 || 'Please type a amount'
                    ]" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Electric Rate per Unit</q-item-label>
                  <q-input filled type="number" prefix="₹" :decimals="2" step="any"
                    v-model.number="rentflat.electricRateAgreed" label="Electric Charge per Unit Agreed *" lazy-rules
                    :rules="[
                      val => val !== null && val !== '' || 'Please type your amount',
                      val => val > 0 || 'Please type a amount'
                    ]" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Rent Start Date</q-item-label>
                  <q-input filled v-model="rentflat.rentStartDate" mask="date" :rules="['date']" label="Rent Start Date">
                    <template v-slot:append>
                      <q-icon name=" event" class="cursor-pointer">
                        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                          <q-date v-model="rentflat.rentStartDate" title="Rent Start Date" today-btn>
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Close" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <div class="row">

                    <div class="col q-pr-xs">
                      <q-item-label class="q-pb-xs">Payment Frequency</q-item-label>
                      <q-select outlined dense v-model="rentflat.pmntFrequency" :options="paymntFqns"
                        option-label="display" label="Payment Frequency" emit-value />

                    </div>
                    <div class="col q-pl-xs">
                      <q-item-label class="q-pb-xs">Advance Payment</q-item-label>
                      <q-select outlined dense v-model="rentflat.pmntAdvance" :options="paymntAdvs" option-label="display"
                        label="Payment Advance" option-value="ddValue" emit-value />
                    </div>
                  </div>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-checkbox v-model="rentflat.active" label="Active" color="green" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="text-teal">
          <q-btn label="Save" type="submit" @click="onSubmit" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dtl_rentflat">
      <q-card style="width: 600px; max-width: 60vw;">
        <q-card-section>
          <div class="text-h6">
            Detail rentflat
            <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          </div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-list class="q-gutter-md">
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Rentflat Name</q-item-label>
                <q-item-label class="q-pb-xs">{{ rentflat.name }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">House</q-item-label>
                <q-select outlined dense v-model="rentflat.house" option-label="name" :options="houses" label="House" />
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Rentflat Number</q-item-label>
                <q-item-label class="q-pb-xs">{{ rentflat.number }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Address</q-item-label>
                <q-item-label class="q-pb-xs">{{ rentflat.address }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">City</q-item-label>
                <q-item-label class="q-pb-xs">{{ rentflat.city }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">State</q-item-label>
                <q-item-label class="q-pb-xs">{{ rentflat.state }}</q-item-label>
              </q-item-section>
            </q-item>

          </q-list>

        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { exportFile, date } from "quasar";
import { defineComponent } from 'vue';
import { queryByFlatActualRent, getAllRentflats, saveRentflat, deleteRentflatById, getAllValidRentflats, getRentflatById } from '../../services/RentFlatService';
import { getAllRentersList } from '../../services/RenterService'
import { getAllFlatsList } from '../../services/FlatService'
import { fetchDropdownMasterVals } from 'src/services/DropdownService'
import { getAllValidHouses, getAvailabeFlatsByHouseId } from '../../services/HouseService'

function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');

  return `"${formatted}"`;
}

export default defineComponent({

  mounted() {
    this.reloadPage()
    // house dropdown
    getAllValidHouses().then(response => {
      console.log(response)
      this.houses = response
    }).catch(err => console.error(err))

    //flat dropdown
    getAllFlatsList().then(response => {

      this.flats = response

    }).catch(err => console.error(err))
    // renter dropdown
    getAllRentersList().then(response => {

      this.renters = response

    }).catch(err => console.error(err))

    fetchDropdownMasterVals("PMNTFQ").then(response => {

      this.paymntFqns = response


    }).catch(err => console.error(err))

    fetchDropdownMasterVals("PMNTTYP").then(response => {

      this.paymntAdvs = response
    }).catch(err => console.error(err))
  },


  data() {
    return {
      filter: "",
      includeDeleted: false, paymntFqns: [], paymntAdvs: [], houses: [], dd_house: '', emNickName: '', prevReading: '', curntReading: '',
      rentflat: {
        "createdOn": "",
        "modifiedOn": "",
        "createdBy": "",
        "modifiedBy": "",
        "active": "",
        "deleted": "",
        "deletedOn": "",
        "id": "",
        "flat": {
          "id": "",
          "flatNumber": "",
          "flatType": {
            "id": "",
            "flatTypeCode": "",
            "flatTypeName": "",
            "description": ""
          },
          "electricMeter": {
            "createdOn": "",
            "modifiedOn": "",
            "createdBy": "",
            "modifiedBy": "",
            "active": "",
            "deleted": "",
            "deletedOn": "",
            "id": "",
            "serialNumber": "",
            "type": "",
            "nickName": "",
            "meterReadings": ""
          },
          "occupied": "",
          "active": "",
          "rentAmount": "",
          "rentDueDate": "",
          "renterId": "",
          "monthlyRents": [

          ],
          "house": {
            "createdOn": "",
            "modifiedOn": "",
            "createdBy": "",
            "modifiedBy": "",
            "active": "",
            "deleted": "",
            "deletedOn": "",
            "id": "",
            "name": "",
            "number": "",
            "address": "",
            "city": "",
            "state": "",
            "flats": ""
          }
        },
        "renter": {
          "createdOn": "",
          "modifiedOn": "",
          "createdBy": "",
          "modifiedBy": "",
          "active": "",
          "deleted": "",
          "deletedOn": "",
          "id": "",
          "name": "",
          "mobileNumber": "",
          "occupation": "",
          "address": "",
          "city": "",
          "state": "",
          "dob": "",
          "vacated": "",
          "vacatedOn": ""
        },
        "rentStartDate": '',
        "rentEndDate": "",
        "pmntFrequency": "",
        "pmntAdvance": "",
        "rentAmountAgreed": "",
        "electricRateAgreed": "",
        "currentMeterReading": ""
      },
      edit_rentflat: false,
      new_rentflat: false,
      dtl_rentflat: false,
      mode: "list", flats: [], renters: [],
      columns: [
        { name: 'rentedFlat', required: true, label: 'Flat Number', align: 'left', field: 'rentedFlat', sortable: true },
        { name: 'renterName', align: 'center', label: 'Renter Name', field: 'renterName', sortable: true },
        { name: 'rentAmountAgreed', align: 'center', label: 'Rent', field: 'rentAmountAgreed', sortable: true },
        { name: 'rentStartDate', label: 'Rent Start Date', field: 'rentStartDate', sortable: true, format: val => date.formatDate(val, 'DD-MMM-YYYY') },
        { name: 'pmntFrequency', align: 'center', label: 'pmnt Frequency', field: 'pmntFrequency', sortable: true },
        { name: 'pmntAdvance', align: 'center', label: 'pmnt Advance', field: 'pmntAdvance', sortable: true },

        { name: "active", align: "left", label: "Active", field: "active", sortable: true },
        { name: "action", align: "left", label: "Action", field: "action", sortable: true }
      ],
      data: [],
      pagination: {
        rowsPerPage: 10
      }
    };
  },
  methods: {
    resetNewForm() {

      this.new_rentflat = true
      this.rentflat = {}
      this.dd_house = ''
      this.flats = []
      this.rentflat.rentStartDate = date.formatDate(Date.now(), 'YYYY/MM/DD')
      this.rentflat.active = true
      this.rentflat.pmntFrequency = this.getDefaultValue(this.paymntFqns)
      console.log("default value: ", this.getDefaultValue(this.paymntFqns));
      console.log("val obj: ", this.rentflat.pmntFrequency);
      this.rentflat.pmntAdvance = this.getDefaultValue(this.paymntAdvs)
    },

    getDefaultValue(list) {
      const defaultVal = (element) => element.defaultVal;
      return list.filter(defaultVal)[0];
    },
    onHouseSelect() {
      getAvailabeFlatsByHouseId(this.dd_house.id).then(response => {
        console.log(response);
        this.flats = response

      }).catch(err => console.error(err))

      console.log("I am in onHouseSelect");
    },
    onFlatSelect() {
      console.log("rent flat id: ", this.rentflat.flat.id);
      queryByFlatActualRent(this.rentflat.flat.id).then(response => {
        console.log(this.rentflat.flat);
        this.rentflat.rentAmountAgreed = response.actualRent
        this.emNickName = response.meterNickName
        this.prevReading = response.previousMeterReading
        this.rentflat.currentMeterReading = response.previousMeterReading
        this.rentflat.electricRateAgreed = response.electricUnitRate

      }).catch(err => console.error(err))

      console.log("I am in Flat Select", this.rentflat.flat);
    },
    reloadPage() {
      if (this.includeDeleted) {
        this.fetchAllRentflats()
      } else {
        this.fetchAllValidRentflats()
      }
    },
    fetchAllValidRentflats() {
      getAllValidRentflats().then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    fetchAllRentflats() {
      getAllRentflats().then(response => {
        console.log(response)
        this.data = response

      }).catch(err => console.error(err))
    },
    rentflatSave() {
      console.log("rentflat save:", this.rentflat)
      console.log("json: ", JSON.stringify(this.rentflat));
      saveRentflat(this.rentflat).then(response => {
        this.reloadPage()

      }).catch(err => console.error(err))
    },
    onSubmit() {
      console.log("On submit");
      this.rentflatSave()
      this.$q.notify({
        color: 'green-4',
        textColor: 'white',
        icon: 'cloud_done',
        message: 'Submitted',
      });

    },
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("rentflat-management.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },
    onDetail(id) {
      console.log("on detail", id);
      this.dtl_rentflat = true
      getRentflatById(id).then(response => {
        console.log(response)
        this.rentflat = response
      }).catch(err => console.error(err))
    },
    onEdit(id) {
      console.log("on edit", id);
      this.edit_rentflat = true;
      getRentflatById(id).then(response => {

        this.rentflat = response
        console.log("House: ", this.rentflat.flat.house);
      }).catch(err => console.error(err))
    },
    onDelete(id) {
      console.log("on delete", id);
      deleteRentflatById(id).then(response => {
        console.log(response)
        this.$q.notify({
          message: response,
          color: "negative",
          icon: "warning"
        })
        this.reloadPage();


      }).catch(err => console.error(err))
    }
  }
});
</script>
