<template>
    <div class="row">
        <div class="col-sm-2 self-start ">
            <q-select filled v-model="ddRenterVal" :options="renters" option-label="name" label="Search by Renter"
                @update:model-value="onPopulateDataRenter()" />
        </div>
        <div class="col-sm-2 ">
            <q-select filled v-model="ddFlatVal" :options="flats" option-label="flatNumber" label="Search by Flat"
                @update:model-value="onPopulateDataFlat()" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 ">
            <q-table title="Rent" :rows="rentRows" :columns="rentColumns" row-key="id" selection="multiple"
                v-model:selected="rentSelected">
                <template v-slot:bottom>
                    <q-tr>
                        <q-td>
                            Selected Amount:
                        </q-td>
                        <q-td>
                            {{ calculateTotalRent }}
                        </q-td>
                    </q-tr>

                </template>
            </q-table>

            <q-table title="Electric Bill" :rows="eBillRows" :columns="ebillColumns" row-key="id" selection="multiple"
                v-model:selected="eBillSelected">
                <template v-slot:bottom>
                    <q-tr>
                        <q-td>
                            Selected Amount:
                        </q-td>
                        <q-td>
                            {{ calculateTotaleBill }}
                        </q-td>
                    </q-tr>
                </template>
            </q-table>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4 ">
            Total amount selected to pay : {{ calculateTotalRentandBill }}
        </div>
        <div class="col-sm-4 ">
            <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
                <!-- <q-input outlined style="max-width: 120px" v-model.number="amoutReceived" step="any" fill-mask="0"
                    reverse-fill-mask
                    :rules="[val => (val !== null && val !== '' && parseInt(val) != NaN) || 'Please type a number', val => val > 0 || 'Please type a real number']" /> -->

                <q-input filled type="number" prefix="$" :decimals="2" step="any" v-model.number="totalAmoutReceived"
                    label="Amount received *" lazy-rules :rules="[
                        val => val !== null && val !== '' || 'Please type your amount',
                        val => val > 0 || 'Please type a amount'
                    ]" />
                <q-btn label="Accept All" @click="copyValue()" color="primary" />
                <q-input filled type="number" prefix="$" :decimals="2" step="any" v-model.number="amoutReceived"
                    label="Amount received *" lazy-rules :rules="[
                        val => val !== null && val !== '' || 'Please type your amount',
                        val => val > 0 || 'Please type a amount'
                    ]" />

                <q-select filled v-model="paymentTypeRef" :options="paymentTypes" option-label="paymentTypeName"
                    label="Payment Type" />
                <q-btn label="Accept payment" type="submit" color="primary" />
            </q-form>
        </div>
    </div>
</template>
  
<script>
import { ref, onMounted, computed } from 'vue'
import { fetchDropdownFlats, fetchDropdownRenters } from '../../services/DropdownService'
import { getAllPaymentDuesByFlatId, getAllPaymentDuesByRenterId, acceptPayment } from '../../services/RentPaymentService'
import { useQuasar, date } from 'quasar'
const paymentTypes = [
    { paymentTypeName: 'Cash' }, { paymentTypeName: 'Online' }, { paymentTypeName: 'Cheque' }
]

const rentColumns = [
    { name: 'id', required: true, label: 'Id', align: 'left', field: 'id', sortable: true },
    {
        name: 'fromDate', label: 'From Date', field: 'fromDate', sortable: true,
        format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
    },
    {
        name: 'toDate', label: 'To Date', field: 'toDate', sortable: true,
        format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
    },
    {
        name: 'issueDate', label: 'Issue Date', field: 'issueDate', sortable: true,
        format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
    },
    { name: 'amount', label: 'Amount', field: 'amount', sortable: true },
    { name: 'paid', label: 'Paid', field: 'paid', sortable: true }

];
const ebillColumns = [
    {
        name: 'id', required: true, label: 'Id', field: 'id', align: 'left', sortable: true
    },
    { name: 'currentReading', label: 'Reading', field: 'currentReading', sortable: true },
    { name: 'previousReading', align: 'center', label: 'Previous Reading', field: 'previousReading', sortable: true },
    { name: 'unitConsumed', label: 'Units', field: 'unitConsumed', sortable: true },

    {
        name: 'previousReadingDate', label: 'Previous Reading Date', field: 'previousReadingDate', sortable: true,
        format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
    },
    {
        name: 'currentReadingDate', label: 'Current Reading Date', field: 'currentReadingDate', sortable: true,
        format: (val, row) => `${date.formatDate(val, 'DD-MMM-YYYY')}`
    },
    { name: 'numberOfDays', label: 'Number of Billing days', field: 'numberOfDays', sortable: true },
    { name: 'amount', label: 'Amount', field: (row) => row.unitConsumed * 8.5, sortable: true },
    {
        name: 'paid', label: 'Paid', field: 'paid', sortable: true
    }

];
const rentRows = ref([])
const eBillRows = ref([])

const detailObj = ref(
    {
        rentDue: '',
        electricBillDue: '',
        dueCalculationDate: '',
        renterId: '',
        flatId: '',
        unPaidMeterReadings: [{
            id: '',
            previousReading: '',
            currentReading: '',
            unitConsumed: '',
            numberOfDays: '',
            previousReadingDate: '',
            currentReadingDate: '',
            consumedByRenter: '',
            paid: ''
        }],
        unPaidRents: [{
            id: '',
            amount: '',
            issueDate: '',
            fromDate: '',
            toDate: '',
            renterId: '',
            paid: ''
        }]
    }
);
const amoutReceived = ref();
const totalAmoutReceived = ref(0);
const renters = ref([]);
const flats = ref([]);
const ddFlatVal = ref({
    id: '',
    flatNumber: ''
});
const ddRenterVal = ref({
    id: '',
    name: ''
});
const eBillSelected = ref([])

const calculateTotaleBill = computed(() => {
    let ebill = 0;

    eBillSelected.value.forEach(element => {
        ebill += (element.unitConsumed * 8.5);
    })
    return ebill;
})
const rentSelected = ref([])

const calculateTotalRent = computed(() => {
    let rent = 0;
    console.log(rentSelected);
    rentSelected.value.forEach(element => {
        rent += element.amount;
    })
    return rent;
})
const calculateTotalRentandBill = computed(() => {
    totalAmoutReceived.value = calculateTotaleBill.value + calculateTotalRent.value;
    return totalAmoutReceived.value;
})
var rentPaymentRequest = {
    renterId: '',
    flatId: '',
    amountReceived: '',
    paymentType: '',
    selectedMeterReadings: [],
    selectedRents: []
}
export default {
    setup() {
        onMounted(() => {
            fetchDropdownRenters().then(response => {
                console.log(response);
                renters.value = response;
            }).catch(err => console.error(err))
            fetchDropdownFlats().then(response => {
                console.log(response);
                flats.value = response;
            }).catch(err => console.error(err))
        })
        function rentPaymentSave() {
            rentPaymentRequest.amountReceived = amoutReceived.value;
            rentPaymentRequest.selectedRents = rentSelected.value;
            rentPaymentRequest.selectedMeterReadings = eBillSelected.value;
            rentPaymentRequest.paymentType = paymentTypeRef.value;
            console.log("I am in rent payment save, before call", rentPaymentRequest);
            // var request = JSON.stringify(rentPaymentRequest.value);
            // console.log(request);
            acceptPayment(rentPaymentRequest).then(response => {
                console.log(response);
                renters.value = response;
            }).catch(err => console.error(err))
        }
        const $q = useQuasar();
        var paymentTypeRef = ref('Cash');
        return {
            rentSelected, eBillSelected, fetchDropdownRenters, fetchDropdownFlats, calculateTotalRent, calculateTotalRentandBill, rentPaymentSave,
            detailObj, rentRows, eBillRows, renters, flats, ddFlatVal, ddRenterVal, rentColumns, ebillColumns, calculateTotaleBill, amoutReceived, totalAmoutReceived, rentPaymentRequest,
            paymentTypes, paymentTypeRef,

            onReset() {
                console.log("On reset");
            },
            onPopulateDataRenter() {
                getAllPaymentDuesByRenterId(ddRenterVal.value.id).then(response => {
                    // console.log(response);
                    detailObj.value = response;
                    this.updateRows(detailObj);
                }).catch(err => console.error(err))
                console.log("onPopulateDataRenter");
            },

            onPopulateDataFlat() {
                getAllPaymentDuesByFlatId(ddFlatVal.value.id).then(response => {
                    console.log(response);
                    detailObj.value = response;
                    this.updateRows(detailObj);
                }).catch(err => console.error(err))
                console.log("onPopulateDataFlat");
            },
            updateRows(detailObj) {
                detailObj.value.forEach(element => {
                    rentRows.value = element.unPaidRents;
                    eBillRows.value = element.unPaidMeterReadings;
                });
            },

            onSubmit() {
                rentPaymentSave();
                $q.notify({

                    color: 'green-4',
                    textColor: 'white',
                    icon: 'cloud_done',
                    message: 'Submitted',
                });


            },
            copyValue() {
                amoutReceived.value = totalAmoutReceived.value,
                    console.log("Copy value");
            }
        }


    }

}
</script>
  