<template>
    <q-page class="flex flex-center">
        <RentPaymentAdd />
    </q-page>
</template>

<script>

import RentPaymentAdd from './RentPaymentAdd.vue';
export default {
    components: {
        RentPaymentAdd
    }
}
</script>