<template>
    <div class="fit row">
        <div class="col-4 col-sm-2 self-start offset-1 q-gutter-xs q-col-gutter-xs" style="background-color:bisque">
            <q-select filled v-model="queryRenter" :options="renters" option-label="name" label="Renter"
                @update:model-value="onPopulateData()" />

            <div>
                <div class="text-h6">Renter Details:</div>
                <div class="text-subtitle2">Name : {{ renterPayment.name }}</div>
                <div class="text-subtitle2">Occupation : {{ renterPayment.occupation }}</div>
                <div class="text-subtitle2">Mobile : {{ renterPayment.mobileNumber }}</div>
            </div>
            <div>
                Flat info:
                <template v-for="flatp in renterPayment.rentedFlat" v-bind:key="flatp.id">
                    {{ flatp.flatNumber }}

                    <ul>
                        <li>Flat Numer: {{ flatp.flatNumber }}</li>
                        <li>Electric Meter No.: {{ flatp.electricMeter.serialNumber }}</li>
                    </ul>
                </template>
            </div>
        </div>


        <!-- calculate portion-->
        <div class="col-2 col-sm-2 self-start offset-1 q-gutter-xs q-col-gutter-xs">

            <div class="text-h6">Add Electric Reading</div>
            <q-input filled v-model="meterReading.meterReading" label="Your meter reading" />

            <q-input filled v-model="meterReading.meterReadingDate" mask="date" :rules="['date']"
                label="Meter reading date">
                <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                            <q-date v-model="meterReading.meterReadingDate" title="Meter reading date">
                                <div class="row items-center justify-end">
                                    <q-btn v-close-popup label="Close" color="primary" flat />
                                </div>
                            </q-date>
                        </q-popup-proxy>
                    </q-icon>
                </template>
            </q-input>

            <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
                <q-btn label="Calculate Electic Bill" type="submit" color="primary" />
            </q-form>
        </div>
        <!-- Listing previous meter readings -->
        <div class="col-4 col-md-4 self-start offset-1 ">
            <q-table title="Past meter readings" :rows="table_meterReadings" :columns="columns" row-key="id">
            </q-table>
        </div>
    </div>
    <!--Rent inforamtion-->
    <div class="fit row">
        <div class="col-sm-2 self-start offset-1 q-gutter-xs q-col-gutter-xs" style="background-color:gold">
            <div>
                Rent info:
                <template v-for="flatp in renterPayment.rentedFlat" v-bind:key="flatp.id">
                    {{ flatp.flatNumber }}

                    <ul>
                        <li>Actual rent: {{ flatp.actualRent }}</li>
                        <li>Rent agreed: {{ flatp.rentStartDate }}</li>
                    </ul>
                </template>
            </div>

        </div>
        <div class="col-sm-2 self-start offset-1 q-gutter-xs q-col-gutter-xs" style="background-color:aqua">
            <div>
                <div class="text-h6">Add Rent payment</div>
                <q-input filled v-model="meterReading.meterReading" label="Total Rent due" />

                <q-input filled v-model="meterReading.meterReading" label="Paid Amount" />

                <q-input filled v-model="meterReading.meterReadingDate" mask="date" :rules="['date']" label="Rent due date">
                    <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                            <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                <q-date v-model="meterReading.meterReadingDate" title="Rent due date">
                                    <div class="row items-center justify-end">
                                        <q-btn v-close-popup label="Close" color="primary" flat />
                                    </div>
                                </q-date>
                            </q-popup-proxy>
                        </q-icon>
                    </template>

                </q-input>
                <q-input filled v-model="meterReading.meterReadingDate" mask="date" :rules="['date']"
                    label="Rent payment date">
                    <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                            <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                <q-date v-model="meterReading.meterReadingDate" title="Rent payment date">
                                    <div class="row items-center justify-end">
                                        <q-btn v-close-popup label="Close" color="primary" flat />
                                    </div>
                                </q-date>
                            </q-popup-proxy>
                        </q-icon>
                    </template>

                </q-input>

                <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
                    <q-btn label="Accept payment" type="submit" color="primary" />
                </q-form>

            </div>
        </div>
        <!-- Listing previous rent payments -->
        <div class="col-4 col-md-4 self-start offset-1 ">
            <q-table title="Previous rent payments" :rows="table_rentPayments" row-key="id">
            </q-table>
        </div>

    </div>
</template>

<script>
import { useQuasar, date } from 'quasar'
import { ref, inject, onMounted } from 'vue'
import { getAllRentersList, findRenterPreviewById } from '../../services/RenterService'
import { saveMeterReadings } from '../../services/RentPaymentService'




export default {

    setup() {
        const bus = inject('bus')
        const $q = useQuasar()

        const columns = [
            { name: 'id', required: true, label: 'Reading Id', align: 'left', field: 'id' },
            { name: 'currentReading', align: 'center', label: 'Reading', field: 'currentReading' },
            {
                name: 'currentReadingDate', label: 'Reading Date', field: 'currentReadingDate',
                format: val => date.formatDate(val, 'DD-MMM-YYYY')
            },
            { name: 'unitConsumed', align: 'center', label: 'Units', field: 'unitConsumed' },
            { name: 'numberOfDays', align: 'center', label: 'Billing Days', field: 'numberOfDays' },
        ];

        const renters = ref([]);
        const table_meterReadings = ref([]);
        const table_rentPayments = ref([]);
        const meterReading = ref({
            meterSn: '',
            meterReading: '',
            meterReadingDate: ''
        });
        const renterPayment = ref({
            id: '',
            name: '',
            fatherName: '',
            mobileNumber: '',
            occupation: '',
            rentStartDate: '',
            homeAddress: {
                addressLine1: '',
                addressLine2: '',
                addressLine3: '',
                distric: '',
                state: '',
                pincode: ''
            },
            officeAddress: {
                addressLine1: '',
                addressLine2: '',
                addressLine3: '',
                distric: '',
                state: '',
                pincode: ''
            },
            rentedFlat: [{
                id: '',
                flatNumber: '',
                flatType: {
                    id: '',
                    flatTypeCode: '',
                    flatTypeName: '',
                    description: ''
                },
                electricMeter: {
                    id: '',
                    serialNumber: '',
                    type: '',
                    nickName: '',
                    meterReadings: [{
                        id: '',
                        previousReading: '',
                        currentReading: '',
                        previousReadingDate: '',
                        currentReadingDate: '',
                        unitConsumed: '',
                        numberOfDays: ''
                    }]
                },
                actualRent: '',
                occupied: ''
            }],
            rent: [
                {
                    id: '',
                    rentAmount: '',
                    electricBillAmount: '',
                    rentMonth: '',
                    rentStartDate: '',
                    rentEndDate: '',
                    paymentDate: '',
                    paymentType: '',
                    lastPayment: ''
                }
            ],
            active: '',
            deleted: '',
            dob: '',
            ppImage: ''

        });

        const queryRenter = ref({
            id: '',
            name: '',
            meterId: ''
        })

        onMounted(() => {
            getAllRentersList().then(response => {
                console.log(response)
                renters.value = response
            }).catch(err => console.error(err))
        })


        return {
            queryRenter,
            renters,
            renterPayment,
            meterReading,
            columns, table_meterReadings, table_rentPayments,

            getAllRentersList, findRenterPreviewById,
            saveMeterReadings,

            onSubmit() {

                meterReading.value.meterSn = renterPayment.value.rentedFlat[0].electricMeter.serialNumber
                console.log("meter reading detail: ", meterReading.value)

                saveMeterReadings(meterReading.value).then(response => {
                    console.log("saveMeterReading", response)
                    table_meterReadings.value = response.meterReadings;
                }).catch(err => console.error(err))


                $q.notify({

                    color: 'green-4',
                    textColor: 'white',
                    icon: 'cloud_done',
                    message: 'Submitted',
                });

            },
            onReset() {

            },
            onPopulateData() {
                // console.log("renter id: ", queryRenter.value.id)
                findRenterPreviewById(queryRenter.value.id).then(response => {
                    console.log(response)
                    renterPayment.value = response
                    if (typeof renterPayment.value.rentedFlat[0] != 'undefined') {
                        table_meterReadings.value = renterPayment.value.rentedFlat[0].electricMeter.meterReadings;
                        console.log("Received meter readings", table_meterReadings.value);
                    }
                    if (typeof renterPayment.value.rent != 'undefined') {
                        table_rentPayments.value = renterPayment.value.rent;
                        console.log("Received meter readings", table_rentPayments.value);
                    }


                }).catch(err => console.error(err))
            }


        }
    }

}
</script>
