<template>
    <div class="q-pa-md">

        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
            <q-select filled v-model="queryRenter" :options="renters" option-label="name" label="Renter" />

            <q-btn label="Search" type="submit" color="primary" />
        </q-form>
        <q-card class="my-card text-white" style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)">
            <q-card-section>
                <div class="text-h6">Renter Details:</div>
                <div class="text-subtitle2">Name : {{ renterPayment.name }}</div>
                <div class="text-subtitle2">Occupation : {{ renterPayment.occupation }}</div>
                <div class="text-subtitle2">Mobile : {{ renterPayment.mobileNumber }}</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
                Flat info:
                {{ renterPayment.rentedFlat[0].flatNumber }}
            </q-card-section>
        </q-card>
        <q-card class="my-card text-white" style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)">
            <q-card-section>
                <div class="text-h6">Flat Details:</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
                <ul>
                    <template v-for="flatp in renterPayment.rentedFlat" v-bind:key="flatp.id">
                        <li>Flat Numer: {{ flatp.flatNumber }}</li>
                        <li>Rent: {{ flatp.actualRent }}</li>
                        <li>Electric Meter No.: {{ flatp.electricMeterSerialNo }}</li>
                    </template>
                </ul>
            </q-card-section>
        </q-card>

        <q-card class="my-card text-white" style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)">
            <q-card-section>
                <div class="text-h6">Add Electric Reading</div>
            </q-card-section>
            <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
                <q-input filled v-model="renterPayment.name" label="Meter Reading *" hint="Meter Reading" />
            </q-form>
        </q-card>
        <q-card class="my-card text-white" style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)">
            <q-card-section>
                <div class="text-h6">Add Flat Rent</div>
            </q-card-section>
            <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
                <q-input filled v-model="renterPayment.name" label="Monthly Rent *" hint="Monthly Rent" />
            </q-form>
        </q-card>
</div>
</template>

<script>
import { useQuasar } from 'quasar'
import { ref, inject, onMounted } from 'vue'
import { getAllRentersList, findRenterById } from '../../services/RenterService'




export default {

    setup() {
        const bus = inject('bus')
        const $q = useQuasar()

        const renters = ref([]);

        const renterPayment = ref({
            id: '',
            name: '',
            fatherName: '',
            mobileNumber: '',
            occupation: '',
            homeAddress: {
                addressLine1: '',
                addressLine2: '',
                addressLine3: '',
                distric: '',
                state: '',
                pincode: ''
            },
            officeAddress: {
                addressLine1: '',
                addressLine2: '',
                addressLine3: '',
                distric: '',
                state: '',
                pincode: ''
            },
            rentedFlat: [{
                id: '',
                flatNumber: '',
                flatType: {
                    id: '',
                    flatTypeCode: '',
                    flatTypeName: '',
                    description: ''
                },
                electricMeterSerialNo: '',
                actualRent: '',
                occupied: ''
            }],
            rent: [
                {
                    id: '',
                    rentAmount: '',
                    electricBillAmount: '',
                    rentMonth: '',
                    rentStartDate: '',
                    rentEndDate: '',
                    paymentDate: '',
                    paymentType: '',
                    lastPayment: ''
                }
            ],
            active: '',
            deleted: '',
            dob: '',
            ppImage: ''

        });

        const queryRenter = ref({
            id: '',
            name: ''
        })

        onMounted(() => {
            getAllRentersList().then(response => {
                console.log(response)
                renters.value = response
            }).catch(err => console.error(err))
        })


        return {
            queryRenter,
            renters,
            renterPayment,

            getAllRentersList,
            findRenterById,

            onSubmit() {
                console.log("renter id: ", queryRenter.value.id)
                findRenterById(queryRenter.value.id).then(response => {
                    console.log(response)
                    renterPayment.value = response

                }).catch(err => console.error(err))
                $q.notify({

                    color: 'green-4',
                    textColor: 'white',
                    icon: 'cloud_done',
                    message: 'Submitted',
                });

            },
            onReset() {

            }

        }
    }

}
</script>
