<template>
    <div class="q-pa-md">
        <q-table title="Rented Flats" :rows="rows" :columns="columns" row-key="id">

        </q-table>
    </div>
</template>
  
<script>
import { defineComponent } from 'vue'
import { date } from 'quasar'
import { getAllRentPayments } from '../../services/RentPaymentService'

const columns = [
    {
        name: 'rentedFlat',
        required: true,
        label: 'Flat Number',
        align: 'left',
        field: 'rentedFlat',
        sortable: true
    },
    { name: 'renterName', align: 'center', label: 'Renter Name', field: 'renterName', sortable: true },
    { name: 'rentStartDate', label: 'Rent Start Date', field: 'rentStartDate', sortable: true },

]


export default defineComponent({



    mounted() {
        this.fetchAllRentPayments();
        this.$bus.on('fetchRentPayment', () => {
            this.fetchAllRentPayments();
        })
    },
    data() {
        return {
            rows: []

        }
    },
    setup() {
        return {
            columns, date, getAllRentPayments
        }
    },
    methods: {
        fetchAllRentPayments() {
            getAllRentPayments().then(response => {
                this.rows = response
            }).catch(err => console.error(err))
        }

    }
}
)
</script>